@model Surya.India.Model.Models.ProductGroup

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="panel panel-default">
    <div class="panel-heading">
        <h4>
            <span style="font-family: Calibri,sans-serif,Verdana"> Delete Product.</span>
        </h4>
    </div>
 
        <p class="bg-danger">
            Deleting this record will delete all the corresponding Products and the ProductGroup
        </p>


    <div class="panel-info" style="padding-left:15px">
        <div>            
            <dl class="dl-horizontal" style="margin-top:15px">
                <dt>
                    @Html.DisplayNameFor(model => model.ProductGroupName)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.ProductGroupName)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.CreatedBy)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.CreatedBy)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.CreatedDate)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.CreatedDate)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.ModifiedBy)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.ModifiedBy)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.ModifiedDate)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.ModifiedDate)
                </dd>
            </dl>
            <hr />
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                <div class="form-actions no-color">
                    <input type="submit" value="Delete" class="btn btn-primary btn-sm CurveBorder height" id="submit" style=" border-color: #606264" /> 
                    <span style="font-family: Calibri,sans-serif,Verdana;font-size:large">
                        @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-primary btn-sm col-md-offset-1 CurveBorder ActionLinkPadding CustomCss height" })
                    </span>
                </div>
            }
        </div>
    </div>
</div>