@model Surya.India.Model.Models.Site

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3>
                <span style="font-family: Calibri,sans-serif,Verdana;font-weight:bold" class="black"><span class="glyphicon glyphicon-trash black"></span> Site</span>
                <input type="submit" value="Delete" class="btn btn-primary right" id="submit" style="width: 90px; background-color: #2980b9" />
            </h3>
            <hr style="margin-top:0px;margin-bottom:0px" />

            <div class="panel-info">
                <h4 style="padding:5px 0 0 0;margin:0px">
                    @Html.ActionLink(" ", " ", " ", null, new { @class = "glyphicon glyphicon-refresh toolbar", @title = "Refresh Page", @data_toggle = "tooltip", @id = "RefreshPage" })
                    @Html.ActionLink(" ", "Create", "Site", null, new { @class = "glyphicon glyphicon-plus toolbar", @title = "Add New", @data_toggle = "tooltip" })
                    @Html.ActionLink(" ", "History", "CarpetMaster", null, new { @class = "glyphicon glyphicon-user toolbar", @title = "History", @data_toggle = "tooltip" })                   
                    @Html.ActionLink(" ", "PrevPage", "Site", new { id = @Model.SiteId }, new { @class = "glyphicon glyphicon-arrow-left toolbar", @title = "Prev Record", @data_toggle = "tooltip" })
                    @Html.ActionLink(" ", "NextPage", "Site", new { id = @Model.SiteId }, new { @class = "glyphicon glyphicon-arrow-right toolbar", @title = "Next Record", @data_toggle = "tooltip" })
                    @Html.ActionLink(" ", "Index", "Site", null, new { @class = "glyphicon glyphicon-list toolbar right", @title = "List", @data_toggle = "tooltip" })

                </h4>
            </div>
        </div>
        <div class="panel-info" style="padding-left:15px">
            <div>
                <dl class="dl-horizontal" style="padding-top:15px">

                    <dt>
                        @Html.DisplayNameFor(model => model.SiteName)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.SiteName)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Address)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Address)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(m => m.PhoneNo)
                    </dt>
                    <dd>
                        @Html.DisplayFor(m => m.PhoneNo)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.CreatedBy)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.CreatedBy)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.ModifiedBy)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.ModifiedBy)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.CreatedDate)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.CreatedDate)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.ModifiedDate)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.ModifiedDate)
                    </dd>

                </dl>
                @*<hr />
                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()

                        <div class="form-actions no-color">
                            <input type="submit" value="Delete" class="btn btn-primary btn-sm CurveBorder height" style=" border-color: #606264" />
                            <span style="font-family: Calibri,sans-serif,Verdana;font-size:large">
                                @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-primary btn-sm col-md-offset-1 CurveBorder ActionLinkPadding CustomCss height" })
                            </span>
                        </div>
                    }*@
            </div>
        </div>
    </div>
}