@model Model.ViewModel.SaleOrderAmendmentMasterDetailModel
@using Core.Common

<style type="text/css">
    #tbody {
        height: 250px;
        overflow-y: scroll;
        width: 100%;
    }

    tbody td {
        padding: 2px 2px 2px 2px;
    }

    .textRight {
        text-align: right;
    }
    /*th div{
        position:absolute;
    }*/
</style>

<div class="modal-content">
    <div class="modal-header" style="border-bottom: 1px solid #8E8888">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"> <span class="glyphicon glyphicon-remove"></span></button>
        <h3>
            <span style="font-family: Calibri,sans-serif,Verdana;font-weight:bold" class="black"><span class="glyphicon glyphicon-file black"></span> Cancel Orders & Quantities</span>
        </h3>
    </div>
    <div>
        @using (Html.BeginForm("_ResultsPost", "SaleOrderQtyAmendmentLine", FormMethod.Post, new { enctype = "multipart/form-data", id = "modform" }))
        {
            @Html.ValidationLog((string)TempData["CSEXCL"])
            @Html.AntiForgeryToken()

            <div class="form-horizontal modal-body">

                <div style="padding-right:15px">
                    <div class="row">

                        @*<div class="panel-heading">
                                <h4>
                                    <span style="font-family: Calibri,sans-serif,Verdana">Sale Order Cancel Line.</span>
                                </h4>
                            </div>*@


                        <div class="form-horizontal">
                            @Html.ValidationSummary(true)

                            <table class="table" style="width:100%">
                                <thead>
                                    <tr style="color:black">
                                        <th style="width:5%;padding-left:0px">
                                            <div>
                                                Sr.
                                            </div>
                                        </th>
                                        <th style="width: 20%; padding-left: 0px">
                                            <div>
                                                Sale Order
                                            </div>
                                        </th>
                                        <th style="width: 25%; padding-left: 0px">
                                            <div>
                                                Product
                                            </div>
                                        </th>
                                        <th style="width: 15%; padding-left: 0px">
                                            <div>
                                                Order Qty
                                            </div>
                                        </th>
                                        <th style="width: 15%; text-align: right; padding-right: 15px">
                                            <div>
                                                Amendment Qty
                                            </div>
                                        </th>
                                        <th style="width: 20%; padding-left: 0px">
                                            <div>
                                                Remark
                                            </div>
                                        </th>
                                    </tr>
                                </thead>
                            </table>
                            <div id="tbody">
                                <div class="tbody">
                                    <table>
                                        <tbody>




                                            @for (int i = 0; i < Model.SaleOrderQtyAmendmentViewModel.Count(); i++)
                                            {
                                                @Html.HiddenFor(m => m.SaleOrderQtyAmendmentViewModel[i].SaleOrderAmendmentHeaderId)
                                                @Html.HiddenFor(m => m.SaleOrderQtyAmendmentViewModel[i].SaleOrderDocNo)
                                                @Html.HiddenFor(m => m.SaleOrderQtyAmendmentViewModel[i].BuyerId)
                                                @Html.HiddenFor(m => m.SaleOrderQtyAmendmentViewModel[i].SaleOrderLineId)
                                                @Html.HiddenFor(m => m.SaleOrderQtyAmendmentViewModel[i].ProductName)
                                                @Html.HiddenFor(m => m.SaleOrderQtyAmendmentViewModel[i].ProductId)
                                                @Html.HiddenFor(m => m.SaleOrderQtyAmendmentViewModel[i].CurrentQty)

                                                <tr>
                                                    <td style="width:5%">
                                                        @(i + 1)
                                                    </td>
                                                    <td style="width:20%">
                                                        @Html.TextBoxFor(m => m.SaleOrderQtyAmendmentViewModel[i].SaleOrderDocNo, new { @class = "form-control", @disabled = "disabled" })
                                                    </td>
                                                    <td style="width:25%">
                                                        @Html.TextBoxFor(m => m.SaleOrderQtyAmendmentViewModel[i].ProductName, new { @class = "form-control", @disabled = "disabled" })
                                                    </td>
                                                    <td style="width:15%">
                                                        @Html.TextBoxFor(m => Model.SaleOrderQtyAmendmentViewModel[i].CurrentQty, new { @class = "form-control", @disabled = "disabled", data_name = "orig" })
                                                    </td>
                                                    <td style="width:15%">

                                                        @Html.TextBoxFor(m => m.SaleOrderQtyAmendmentViewModel[i].Qty, new { @class = "form-control textRight", data_name = "curr" })
                                                        @Html.ValidationMessageFor(m => m.SaleOrderQtyAmendmentViewModel[i].Qty)
                                                    </td>
                                                    <td style="width:20%">
                                                        @Html.TextBoxFor(m => m.SaleOrderQtyAmendmentViewModel[i].Remark, new { @class = "form-control" })
                                                        @Html.ValidationMessageFor(m => m.SaleOrderQtyAmendmentViewModel[i].Remark)
                                                    </td>

                                                </tr>

                                            }

                                        </tbody>
                                    </table>
                                </div>


                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer " style="padding: 19px 20px 0 20px; border-top:1px solid #8E8888">
                    <button class="btn custom" name="Command:Edit" type="submit"><h2 style="margin:0px" id="submit" title="Proceed"><span class="glyphicon glyphicon-floppy-disk black black"></span> </h2></button>
                </div>
            </div>
        }
    </div>
</div>