@{
    ViewBag.Title = "Order Amendment";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Content/DataTables/css/jquery.dataTables.min.css" rel="stylesheet" />
<link href="~/Content/DataTables/css/scroller.bootstrap.min.css" rel="stylesheet" />

<script src="~/Scripts/DataTables/jquery.dataTables.min.js"></script>
<script src="~/Scripts/DataTables/dataTables.scroller.js"></script>
<style type="text/css">
    .DTHidden {
        display: none;
    }

    .TextRight {
        text-align: right;
    }

    .dataTable {
        font-size: 13px !important;
        line-height: 1;
    }

    table.dataTable tbody td {
        padding: 2px 10px;
    }

    .Filters.fSelected.label {
        display: inline-block;
    }

    .Filters.fSelected .label-danger {
        border-radius: 10px;
    }

    .Filters.fSelected strong {
        padding: 5px;
    }
</style>

<!-- modal placeholder-->
<div id='myModal' class='modal fade in'>
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div id='myModalContent'></div>
        </div>
    </div>
</div>


<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" style="font-size:13px">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="exampleModalLabel">Summary</h4>
            </div>
            <div class="modal-body" id="SelectedSummary">
                <div class="row" style="margin-left:0px;margin-right:0px;margin-bottom:7px">
                    <div class='row-index block' style='width:5%'>  <strong>Sr</strong>  </div>
                    <div class='block' style='width:93%'>

                        <div class='block' style='width:25%'>
                            <strong>Product</strong>
                        </div>
                        <div class='block' style='width: 25%'>
                            <strong>Order</strong>
                        </div>
                        <div class='block' style='width:20%'>
                            <strong>Job Worker</strong>
                        </div>
                        <div class='block text-right' style='width:15%'>
                            <strong>Old Rate</strong>
                        </div>
                        <div class='block text-right' style='width:15%'>
                            <strong>Rate</strong>
                        </div>
                    </div>
                </div>
                <div id="SummaryContent" style="max-height:350px;overflow-y:scroll">

                </div>
            </div>

        </div>
    </div>
</div>


<div class="panel panel-default">
    <div class="panel-heading">
        <h3>
            <span style="font-family: Calibri,sans-serif,Verdana;font-weight:bold" class="black"> <span class="glyphicon glyphicon-file black"></span>@ViewBag.Name</span>
            @Html.ActionLink(" ", "ConfirmedJobOrders", "JobOrderRateAmendmentWizard", null, new { @class = "glyphicon glyphicon-hand-right toolbar right", @title = "Proceed", @data_toggle = "tooltip", @id = "Proceed" })
            <a href="#" class="glyphicon glyphicon-shopping-cart toolbar right" id="CartSum"></a>
            @Html.ActionLink(" ", "Filters", "JobOrderRateAmendmentWizard", null, new { data_modalCustom = "", id = "btnCreateF", @class = "glyphicon glyphicon-filter toolbar right", @title = "Filters", @data_toggle = "tooltip" })
        </h3>
    </div>

    <div class="panel-info" style="padding-left:15px">
        <div class="form-horizontal">
            @Html.ValidationSummary(true)

            <div class="row">
                <div>

                </div>
            </div>
        </div>
        <hr style="margin-top:0px;margin-bottom:0px" />

        <div style="margin:20px;">


            <div class="Filters fSelected" id="sFilter">

            </div>

            <table id="example" class="display" cellspacing="0" width="100%">
                <thead style="background: #428bca;color:white">
                    <tr>
                        <th>DocDate</th>
                        <th>DocNo</th>
                        <th>Jobworker</th>
                        <th>Product</th>
                        <th>Dimension1</th>
                        <th>Dimension2</th>
                        <th>ProductGroup</th>
                        <th>OldRate</th>
                        <th>NewRate</th>
                        <th>JobOrderLineId</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>
<script type="text/javascript">

    $(document).ready(function () {

        var selected = [];
        var Id = '@ViewBag.Id';
        var ProcId = '@ViewBag.ProcessId';
        var Filters = new AssignFilters();
        var eXRate = 0;


        var tab = $('#example').DataTable({
            serverSide: false,
            ordering: false,
            searchDelay: 1000,
            //ajax: {
            //    "url": "/JobOrderRateAmendmentWizard/AjaxGetJsonData/",
            //    "data": function (d) {
            //        d.ProcessId = ProcId; d.DocType = Id;
            //        d.FromDate = Filters.FromDate ? Filters.FromDate : null;
            //        d.ToDate = Filters.ToDate ? Filters.ToDate : null;
            //        d.JobOrderHeaderId = Filters.JobOrderHeaderId.length > 0 ? $.map(Filters.JobOrderHeaderId, function (val, i) { return (val.id) }).join(',') : "";
            //        d.JobWorkerId = Filters.JobWorkerId.length > 0 ? $.map(Filters.JobWorkerId, function (val, i) { return (val.id) }).join(',') : "";
            //        d.ProductId = Filters.ProductId.length > 0 ? $.map(Filters.ProductId, function (val, i) { return (val.id) }).join(',') : "";
            //        d.Dimension1Id = Filters.Dimension1Id.length > 0 ? $.map(Filters.Dimension1Id, function (val, i) { return (val.id) }).join(',') : "";
            //        d.Dimension2Id = Filters.Dimension2Id.length > 0 ? $.map(Filters.Dimension2Id, function (val, i) { return (val.id) }).join(',') : "";
            //        d.ProductGroupId = Filters.ProductGroupId.length > 0 ? $.map(Filters.ProductGroupId, function (val, i) { return (val.id) }).join(',') : "";
            //        d.Rate = Filters.Rate ? Filters.Rate : null;
            //    },
            //    "type": "POST"
            //},
            columns: [
              { "data": "SOrderDate", "width": "12%", "sortable": false },
                 { "data": "OrderNo", "width": "12%", "sortable": false },
                 { "data": "JobWorkerName", "width": "13%", "sortable": false },
                 { "data": "ProductName", "width": "13%", "sortable": false },
                 { "data": "Dimension1Name", "width": "10%", "sortable": false },
                 { "data": "Dimension2Name", "width": "10%", "sortable": false },
                 { "data": "ProductGroupName", "width": "10%", "sortable": false },
                 { "data": "OldRate", "width": "10%", className: "TextRight", "sortable": false },
                 { "data": "Rate", "width": "10%", className: "TextRight", "render": function (data, type, row) { return '<input style="width:100%;" class="Rate TextRight"  type="text" name="Rate' + row.JobInvoiceLineId + '" id="Rate' + row.JobInvoiceLineId + '" value="' + row.Rate + '" />'; }, "sortable": false },
                 { "data": "JobOrderLineId" },
            ],
            columnDefs: [
   { "targets": 9, "searchable": false, className: "DTHidden", },
            ],
            scrollY: "250px",
            dom: 'ftirp',
            scroller: {
                loadingIndicator: true
            },
            language: {
                "loadingRecords": "Please wait - loading..."
            },
            scrollCollapse: true,
            //ForRowSelecting in ServerSideLogic--Commented cuz not needed in this entry point
            //"rowCallback": function (row, data) {
            //    var indx = GetIndexOfId(selected, data.JobOrderLineId);
            //    if (data.JobOrderLineId && indx !== -1) {
            //        $(row).addClass('selected');
            //        //data.Rate = selected[indx].Rate;
            //        $('td:eq(8) input', row).val(selected[indx].Rate);
            //    }
            //}
        });

        $('#example tbody').on('change', 'input', function () {

            if ($(this).val() && $(this).hasClass('Rate'))
                eXRate = $(this).val();

            var Rec = tab.row($(this).closest('tr')).data();

            var index = GetIndexOfId(selected, Rec.JobOrderLineId);

            if (Rec.OldRate - $(this).val() != 0 && $(this).val() != 0) {
                if (index === -1) {
                    selected.push({ Id: Rec.JobOrderLineId, Rate: $(this).val() });
                } else {
                    selected[index].Rate = $(this).val();
                }
                if (!$(this).closest('tr').hasClass('selected'))
                    $(this).closest('tr').addClass('selected');
            }
            else {
                selected.splice(index, 1);
                $(this).closest('tr').removeClass('selected');
            }
            Rec.Rate = $(this).val();
        });


        $('#example tbody').on('click', 'tr', function (e) {
            if (e.target.nodeName == "INPUT") {

            }
            else {
                $(this).find('input.Rate').trigger('change');
            }
        });

        $(document).on('focusin', ' td > input', function () {

            if (eXRate && (!$(this).val() || $(this).val() == 0) && $(this).hasClass('Rate'))
                $(this).val(eXRate).trigger('change');

        })


        $('a#Proceed').click(function () {

            //alert($(this).attr('href'));

            $.ajax({
                url: $(this).attr('href'),
                type: "POST",
                data: { ConfirmedList: GetSelectedData(), DocTypeId: Id },
                success: function (result) {
                    if (result.Success == true) {
                        UpdateDataTable(result);
                    } else if (result.Success == "URL") {
                        window.location.href = result.Data;
                    }
                    else if (!result.Success) {
                        alert('Something went wrong');
                    }
                    else { }
                },
            });

            return false;

        });

        function GetSelectedData() {
            var arr = [];

            $.each(selected, function (index, value) {
                arr.push({ JobOrderLineId: value.Id, Rate: value.Rate });
            })

            return arr;
        }

        function GenerateSummaryString() {
            var Summary = "";
            Summary += "<div class='row' style='margin:0px'>"

            var test = tab.rows('.selected').data();
            var List = "";
            var srno = 1;
            var QtyTotal = 0;
            var AmtTotal = 0;
            $.each(test, function (index, value) {

                Summary += " <div class='row crow grid-body' style='margin:0px;padding:0px'>"
                    + "      <div class='row-index block'  style='width:5%'>" + srno + "</div>"
                    + "          <div class='block'  style='width:95%'>"
                    + "                  <div class='block' style='width:25%'>" + (value.ProductName == null ? " " : "<strong>" + value.ProductName + "</strong>")
                    + "                  <div>" + (value.Dimension1Name == null ? " " : value.Dimension1Name + ",") + (value.Dimension2Name == null ? " " : value.Dimension2Name + ",") + "</div>"
                    + "                  <div>" + value.ProductGroupName + "</div>"
                    + "                  </div>"
                    + "                  <div class='block' style='width:25%'>" + (value.OrderNo == null ? " " : "<strong>" + value.OrderNo + "</strong>")
                    + "                  <div> " + value.SOrderDate + " </div>"
                    + "                  </div>"
                    + "                  <div class='block'  style='width:20%'>" + (value.JobWorkerName == null ? " " : value.JobWorkerName) + "</span>"
                    + "                   </div>"
                    + "                  <div class='block text-right'  style='width:15%'>" + (value.OldRate == null ? " " : value.OldRate) + ""
                    + "                   </div>"
                    + "                  <div class='block text-right'  style='width:15%'>" + (value.Rate == null ? " " : value.Rate) + ""
                    + "                   </div>"
                    + "          </div>"
                    + "  </div>"
                    + "<hr style='margin-top:0px;margin-bottom:0px'/>";
                srno++;
                //arr.push({ ProdOrderLineId: value.ProdOrderLineId, Qty: value.Qty, BalanceQty: value.Qty, RefDocTypeId: value.RefDocTypeId, RefDocLineId: value.RefDocLineId, DesignName: value.DesignName, Size: value.Size, Rate: value.Rate, Incentive: value.Incentive });
            });
            Summary += "</div>"

            $('#SummaryContent').html(Summary);
        }


        $(document).on('hidden.bs.modal', function (e) {
            $('#SummaryContent').html("");
            $('#QtyTotal').html(0);
            $('#AmtTotal').html(0);
        })


        function GetIndexOfId(array, Id) {
            var index = -1;
            array.some(function (entry, i) {
                if (entry.Id == Id) {
                    index = i;
                    return true;
                }
            });
            return index;
        }



        ////For Populating Modal PopUp on DoubleClick Of Row
        //$(document).on("click", "a#CartSum", function () {
        //    var editurl = $(this).attr('href');
        //    $('#myModalContent').load(editurl, { SelectedRecords: GetSelectedData() }, function () {
        //        //alert('2');
        //        $('#myModal').modal({
        //            backdrop: 'static',
        //            keyboard: true
        //        }, 'show');

        //    });
        //    return false;
        //});

        $('#CartSum').click(function () {
            GenerateSummaryString();
            $('#exampleModal').modal('toggle');
        })


        $(function () {

            $("a[data-modalCustom]").on("click", function (e) {
                // hide dropdown if any
                if (this.href == "") {
                    return false;
                }

                var data = new GenerateFiltersForParameter();
                $.ajax({
                    url: this.href,
                    type: "POST",
                    data: data,
                    success: function (result) {
                        $('#myModalContent').html(result);
                        $('#myModal').modal({
                            backdrop: 'static',
                            keyboard: true
                        }, 'show');

                        bindForm1('#myModalContent');
                    },
                });
                return false;
            });
        });

        function bindForm1(dialog) {
            $('form#modform', dialog).submit(function () {
                Filters = new AssignFilters();
                $('#sFilter').html(GenerateFiltersForHtml());

                var Data = [];

                var datatable = $('#example').dataTable().api();

                $.ajax({
                    url: "/JobOrderRateAmendmentWizard/AjaxGetJsonData/",
                    data: {
                        ProcessId: ProcId, DocType: Id,
                        FromDate: Filters.FromDate ? Filters.FromDate : null,
                        ToDate: Filters.ToDate ? Filters.ToDate : null,
                        JobOrderHeaderId: Filters.JobOrderHeaderId.length > 0 ? $.map(Filters.JobOrderHeaderId, function (val, i) { return (val.id) }).join(',') : "",
                        JobWorkerId: Filters.JobWorkerId.length > 0 ? $.map(Filters.JobWorkerId, function (val, i) { return (val.id) }).join(',') : "",
                        ProductId: Filters.ProductId,
                        Dimension1Id: Filters.Dimension1Id.length > 0 ? $.map(Filters.Dimension1Id, function (val, i) { return (val.id) }).join(',') : "",
                        Dimension2Id: Filters.Dimension2Id.length > 0 ? $.map(Filters.Dimension2Id, function (val, i) { return (val.id) }).join(',') : "",
                        ProductGroupId: Filters.ProductGroupId,
                        ProductCategoryId: Filters.ProductCategoryId,
                        Sample: Filters.Sample,
                        Rate: Filters.Rate ? Filters.Rate : null,
                        NewRate: Filters.NewRate ? Filters.NewRate : 0,
                        MultiplierGT: Filters.MultiplierGT ? Filters.MultiplierGT : null,
                        MultiplierLT: Filters.MultiplierLT ? Filters.MultiplierLT : null,
                    },
                    type: "POST",
                    success: function (result) {
                        if (result.Success) {

                            $('#myModal').modal('hide');

                            selected = [];
                            datatable.clear();
                            datatable.rows.add(result.Data);
                            datatable.draw();
                            tab.rows().every(function (rowIdx, tableLoop, rowLoop) {
                                var data = this.data();
                                var indx = GetIndexOfId(selected, data.JobOrderLineId);
                                if (data.JobOrderLineId && data.OldRate - data.Rate != 0 && data.Rate != 0 && indx === -1) {
                                    $(this.node()).addClass('selected');
                                    selected.push({ Id: data.JobOrderLineId, Rate: data.Rate });
                                }
                            });
                        }
                        else {
                            //$("body").CustomNotify({ message: "No of records exceeding 1000. Check the filters." })
                            if (!$('#modform').find('.modal-body #errormsg').length)
                                $('#modform').find('.modal-body').prepend("<div class='alert alert-danger'><span id=errormsg >" + result.Message + " Check the filters.</span></div>")
                            else
                                $('#errormsg').text(result.Message)
                        }
                    }
                });

                //tab.ajax.reload();

                return false;


            });
        }

        function AssignFilters() {
            var self = this;

            self.FromDate = $('#FromDate', '.modal-body').val();
            self.ToDate = $('#ToDate', '.modal-body').val();
            self.JobOrderHeaderId = $('#JobOrderHeaderId', '.modal-body').select2('data');
            self.JobWorkerId = $('#JobWorkerId', '.modal-body').select2('data');
            self.ProductId = $('#ProductId', '.modal-body').val();
            self.Dimension1Id = $('#Dimension1Id', '.modal-body').select2('data');
            self.Dimension2Id = $('#Dimension2Id', '.modal-body').select2('data');
            self.ProductGroupId = $('#ProductGroupId', '.modal-body').val();
            self.ProductCategoryId = $('#ProductCategoryId', '.modal-body').val();
            self.Sample = $('#Sample', '.modal-body').val();
            self.Rate = $('#Rate', '.modal-body').val();
            self.MultiplierGT = $('#MultiplierGT', '.modal-body').val();
            self.MultiplierLT = $('#MultiplierLT', '.modal-body').val();
            self.NewRate = $('#NewRate', '.modal-body').val() || 0;
        }

        function GenerateFiltersForParameter() {

            var self = this;
            self.ProcessId = ProcId, self.DocTypeId = Id;
            self.FromDate = Filters.FromDate ? Filters.FromDate : null;
            self.ToDate = Filters.ToDate ? Filters.ToDate : null;
            self.JobOrderHeaderId = Filters.JobOrderHeaderId.length > 0 ? $.map(Filters.JobOrderHeaderId, function (val, i) { return (val.id) }).join(',') : "";
            self.JobWorkerId = Filters.JobWorkerId.length > 0 ? $.map(Filters.JobWorkerId, function (val, i) { return (val.id) }).join(',') : "";
            self.ProductId = Filters.ProductId;
            self.Dimension1Id = Filters.Dimension1Id.length > 0 ? $.map(Filters.Dimension1Id, function (val, i) { return (val.id) }).join(',') : "";
            self.Dimension2Id = Filters.Dimension2Id.length > 0 ? $.map(Filters.Dimension2Id, function (val, i) { return (val.id) }).join(',') : "";
            self.ProductGroupId = Filters.ProductGroupId;
            self.ProductCategoryId = Filters.ProductCategoryId;
            self.Sample = Filters.Sample;
            self.Rate = Filters.Rate ? Filters.Rate : null;
            self.MultiplierGT = Filters.MultiplierGT ? Filters.MultiplierGT : null;
            self.MultiplierLT = Filters.MultiplierLT ? Filters.MultiplierLT : null;
            self.NewRate = Filters.NewRate ? Filters.NewRate : 0;

        }

        function GenerateFiltersForHtml() {

            var html = "";

            html += Filters.FromDate ? "<strong>FromDate:</strong> <span class='label label-danger'> " + Filters.FromDate + " </span>" : "";
            html += Filters.ToDate ? "<strong>ToDate:</strong> <span class='label label-danger'> " + Filters.ToDate + " </span>" : "";
            html += Filters.JobOrderHeaderId.length > 0 ? "<strong>JobOrder:</strong>" + $.map(Filters.JobOrderHeaderId, function (val, i) { return ("<span class='label label-danger'>" + val.text + "</span>") }).join(' ') : "";
            html += Filters.JobWorkerId.length > 0 ? "<strong>JobWorker:</strong>" + $.map(Filters.JobWorkerId, function (val, i) { return ("<span class='label label-danger'>" + val.text + "</span>") }).join(' ') : "";
            html += Filters.ProductId != "" ? "<strong>Product:</strong> <span class='label label-danger'>" + Filters.ProductId + "</span>" : "";
            html += Filters.Dimension1Id.length > 0 ? "<strong>Dimension1:</strong>" + $.map(Filters.Dimension1Id, function (val, i) { return ("<span class='label label-danger'>" + val.text + "</span>") }).join(' ') : "";
            html += Filters.Dimension2Id.length > 0 ? "<strong>Dimension2:</strong>" + $.map(Filters.Dimension2Id, function (val, i) { return ("<span class='label label-danger'>" + val.text + "</span>") }).join(' ') : "";
            html += Filters.ProductGroupId != "" ? "<strong>ProductGroup:</strong> <span class='label label-danger'>" + Filters.ProductGroupId + "</span>" : "";
            html += Filters.ProductCategoryId != "" ? "<strong>ProductCategory:</strong> <span class='label label-danger'>" + Filters.ProductCategoryId + "</span>" : "";
            html += Filters.Sample != "" ? "<strong>Sample:</strong> <span class='label label-danger'>" + Filters.Sample + "</span>" : "";
            html += Filters.Rate ? "<strong>Rate:</strong> <span class='label label-danger'> " + Filters.Rate + " </span>" : "";
            html += Filters.NewRate != 0 ? "<strong>NewRate:</strong> <span class='label label-danger'> " + Filters.NewRate + " </span>" : "";
            html += Filters.MultiplierGT ? "<strong>Multiplier >:</strong> <span class='label label-danger'> " + Filters.MultiplierGT + " </span>" : "";
            html += Filters.MultiplierLT ? "<strong>Multiplier <:</strong> <span class='label label-danger'> " + Filters.MultiplierLT + " </span>" : "";

            return html;
        }

        $('#CartSum').on('hidden.bs.modal', function (e) {
            $('#SummaryContent').html("");
            $('#QtyTotal').html(0);
            $('#AmtTotal').html(0);
        })

    });
</script>