<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title </title>
    @*CSS References*@
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/ProjLib.css" rel="stylesheet" />
    <link href="~/Content/Gridmvc.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-theme.min.css" rel="stylesheet" />
    <link href="~/Content/css/select2.css" rel="stylesheet" />
    <link href="~/Content/nprogress.css" rel="stylesheet" />
    <link href="~/Content/gridmvc.datepicker.css" rel="stylesheet" />
    <link href="~/Content/themes/base/autocomplete.css" rel="stylesheet" />
    <link href="~/Content/jquery.ui.theme.css" rel="stylesheet" />
    <link href="~/Content/Notification.css" rel="stylesheet" />
    <link href="~/Content/themes/base/menu.css" rel="stylesheet" />


    <script src="~/Scripts/jquery-2.1.4.js"></script>
    <script src="~/Scripts/jquery-ui-1.11.4.js"></script>
    <script src="~/Scripts/jquery.signalR-2.2.0.min.js"></script>
    <script src="~/signalr/hubs"></script>
    <script src="~/Scripts/select2.js"></script>
    <script src="~/Scripts/bootstrap-datepicker.js"></script>
    <script src="~/Scripts/FunctionForMultiSelect.js"></script>
    <script src="~/Scripts/bootstrap-notify.min.js"></script>
    <script src="~/Scripts/ProjLibFormatting.js"></script>
    <script src="~/Scripts/CheckForDuplicateDocNo.js"></script>
    <script src="~/Scripts/jquery.slimscroll.min.js"></script>
</head>

<body style="background-color:white">

    <div class="navbar navbar-inverse navbar-fixed-top" style="-webkit-backface-visibility: hidden;">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    @{
                        string Defaultdomain = (@System.Configuration.ConfigurationManager.AppSettings["MenuDomain"]);
                        if (string.IsNullOrEmpty(Defaultdomain))
                        {
                            throw new Exception("Menu Domain not configured in Modules Project");
                        }

                    }
                    @using ProjLib.Constants;
                    <li><a href="@Defaultdomain/Menu/Module/" style="padding-top:8px;padding-bottom:8px"><span class="glyphicon glyphicon-home" style="font-size: 1.7em"></span></a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Bookmarks <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu" id="bookmarkdd">
                            @foreach (var item in (List<ProjLib.ViewModels.UserBookMarkViewModel>)(Session["BookMarks"]))
                            {
                                <li>
                                    <a href="/Menu/DropDown/@item.MenuId">
                                        <span class="@item.IconName"></span>
                                        @item.MenuName
                                    </a>
                                </li>
                            }

                        </ul>
                    </li>
                    <li><a href="@Defaultdomain/SiteSelection/SiteSelection/"><span>@System.Web.HttpContext.Current.Session[SessionNameConstants.SiteShortName]</span>|<span>@System.Web.HttpContext.Current.Session[SessionNameConstants.DivisionName]</span></a></li>

                </ul>
                @*<form class="navbar-form navbar-left" role="search">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Search" style="border-radius:20px ! important;">
                        </div>
                        <button type="submit" class="btn btn-default">Submit</button>
                    </form>*@
                <ul class="nav navbar-nav navbar-right">


                    <!-- Notifications: style can be found in dropdown.less -->
                    <li class="dropdown notifications-menu">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <i class="glyphicon glyphicon-envelope"></i>
                            <span class="label label-danger"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li class="header">You have 0 notifications</li>
                            <li>
                                <!-- inner menu: contains the actual data -->
                                <ul class="menu">
                                    <li>
                                        <a href="#">
                                            <i class="glyphicon glyphicon-wrench text-red"></i> Under Implementation
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li class="footer"><a href="#">View all</a></li>
                        </ul>
                    </li>


                    <!-- Notifications: style can be found in dropdown.less -->
                    <li class="dropdown notifications-menu">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <i class="glyphicon glyphicon-flag"></i>
                            <span class="label label-danger"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li class="header">You have 0 notifications</li>
                            <li>
                                <!-- inner menu: contains the actual data -->
                                <ul class="menu">
                                    <li>
                                        <a href="#">
                                            <i class="glyphicon glyphicon-wrench text-red"></i> Under Implementation
                                        </a>
                                    </li>
                                </ul>

                            </li>
                            <li class="footer"><a href="#">View all</a></li>
                        </ul>
                    </li>


                    @{
                        int notificationCount = (int)System.Web.HttpContext.Current.Session[SessionNameConstants.UserNotificationCount];
                        string Count = notificationCount.ToString();
                    }

                    <!-- Notifications: style can be found in dropdown.less -->
                    <li class="dropdown messages-menu">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <i class="glyphicon glyphicon-bell" id="UNotificationIcon"></i>
                            @if (notificationCount > 0)
                            {
                                <span class="label label-warning active new" id="UNotimessage"> @Count </span>
                            }
                            else
                            {
                                <span class="label label-warning active" id="UNotimessage"></span>
                            }

                        </a>
                        <ul class="dropdown-menu">
                            <li class="header Notification">You have @Count new notifications</li>
                            <li>
                                <!-- inner menu: contains the actual data -->
                                @*<div class="outerDiv">
                                    <div id="ScrollContent">*@
                                <ul class="menu" id="NotificMen">
                                    <li style="text-align:center"><span class="glyphicon glyphicon-refresh Loading" style="font-size:large;display:none"></span></li>
                                    <li>
                                        <!-- start message -->
                                        @*<a href="#">
                                                <div class="pull-left">
                                                    <span class="Icon glyphicon glyphicon-th-list"></span>
                                                </div>
                                                <h4>
                                                    Support Team
                                                    <small><i class="glyphicon glyphicon-time"></i> 5 mins</small>
                                                </h4>
                                                <p id="UpdateBody">Why not buy a new awesome theme?</p>
                                            </a>*@
                                    </li><!-- end message -->
                                </ul>
                                @*</div>
                                    </div>*@
                            </li>
                            <li class="footer"><a href="/Notification/GetAllNotifications" id="footerNotification">See All Notifications</a></li>
                        </ul>
                    </li>






                    @*<li><a href="#">Link</a></li>*@
                    @{
                        string Dd = (System.Configuration.ConfigurationManager.AppSettings["ProfilePic"]);
                        string ImgSrc = Dd + User.Identity.Name + ".jpg";
                    }
                    <li class="dropdown user user-menu">

                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><img src="@ImgSrc" class="user-image  UserImage" alt="User Image" /> @User.Identity.Name </a>
                        <ul class="dropdown-menu" role="menu">


                            @using Microsoft.AspNet.Identity
                            @if (Request.IsAuthenticated)
                            {
                                <li class="user-header">
                                    <img src="@ImgSrc" class="img-circle UserImage" alt="User Image" />
                                    <p>
                                        @User.Identity.Name

                                    </p>
                                </li>


                                <!-- Menu Body -->
                                <li class="user-body">
                                    <div class="col-xs-4 text-center">
                                        <a href="#">Followers</a>
                                    </div>
                                    <div class="col-xs-4 text-center">
                                        <a href="#">Sales</a>
                                    </div>
                                    <div class="col-xs-4 text-center">
                                        <a href="#">Friends</a>
                                    </div>
                                </li>

                                 <!-- Menu Footer-->
                                <li class="user-footer">
                                    <div class="pull-left">
                                        <a href="/Account/Manage" class="btn btn-default btn-flat">Profile</a>
                                    </div>
                                    <div class="pull-right">
                                        @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
                                        {
                                            @Html.AntiForgeryToken()
                                            <a href="javascript:document.getElementById('logoutForm').submit()" class="btn btn-default btn-flat">Logout</a>
                                        }
                                    </div>
                                </li>

                            }
                            else
                            {

                                <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
                                <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>

                            }

                        </ul>
                    </li>
                </ul>




            </div>
        </div>
    </div>



    <div class="container body-content">

        <div class="row">

            <!-- content-wrapper -->
            <div class="col-md-12 content-wrapper">
                <div class="row">
                    <div class="col-md-4">

                    </div>
                    <div class="col-md-4">

                        <div id="cusalert" class="alert" style="display:none">
                            @{var Temp = (string)TempData["CSEXC"];}
                        </div>
                    </div>
                    <div class="col-md-4">

                    </div>
                </div>

                <!-- main -->
                <div class="content">
                    <div id="divRenderBody" class="main-content">

                        @RenderBody()

                    </div>
                    <!-- /main-content -->
                </div>
                <!-- /main -->
            </div>
            <!-- /content-wrapper -->
        </div>


    </div>

    <hr />
    <footer>
        <p style="padding:10px"> &copy;  @System.Configuration.ConfigurationManager.AppSettings["FooterNote"]</p>
    </footer>

    <script src="~/Scripts/modernizr-2.8.3.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>

    <script src="~/Scripts/respond.js"></script>

    <script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
    <script src="~/Scripts/Notification.js"></script>
    <script src="~/Scripts/nprogress.min.js"></script>

    <script src="~/Scripts/gridmvc.min.js"></script>
    <script src="@Url.Content("~/Scripts/jquery.cookie.js")" type="text/javascript"> </script>
    <script src="~/Scripts/jQuery.flashMessage.js"></script>
    <script type="text/javascript">


        $('.datepicker').datepicker({
            format: 'dd/MM/yyyy',
            "setDate": new Date(),
            "autoclose": true

        })

        $('.datepickerWithNFD').datepicker({
            format: 'dd/MM/yyyy',
            "setDate": new Date(),
            "autoclose": true,
            "endDate": new Date(),

        })

        $('.datepicker,.datepickerWithNFD').each(function () {

            if (($(this).val())) {
                var date = new Date($(this).val())
                if (date.getDay() == 0)
                    $(this).addClass('DateSunday');
                else {
                    if ($(this).hasClass('DateSunday'))
                        $(this).removeClass('DateSunday');
                }
            }
        })

        $('.datepicker,.datepickerWithNFD').datepicker().on('changeDate', function () {
            if (($(this).val())) {
                var date = new Date($(this).val())
                if (date.getDay() == 0)
                    $(this).addClass('DateSunday');
                else {
                    if ($(this).hasClass('DateSunday'))
                        $(this).removeClass('DateSunday');
                }
            }
        })

        $(function () {
            $("body").CustomNotify();
            $('#myModal').on('hidden.bs.modal', function () {
                if (!$('#myModal').find('#modform.RDeleteModal').length)
                    $("body").CustomNotify();
            })
        });

    </script>



    @RenderSection("scripts", required: false)
</body>

</html>
