@model Model.ViewModel.SiteSelectionViewModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
    <title>SiteSelection</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
   
</head>
<body>
    <style>

    </style>

    <link href="~/Content/AdminLTEBoxContainer.css" rel="stylesheet" />

    <div class="container" style="">
        @*<legend class="text-center">Choose Site & Division</legend>*@
        <legend class="text-center">Choose Settings</legend>
        @*@using (Html.BeginForm("SiteSelection", "SiteSelection", FormMethod.Post, new { @class="form-horizontal"}))
            {
                <div class="body">
                    @Html.AntiForgeryToken()
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="form-group">
                                @Html.LabelFor(model => model.SiteId, "Site", new { @class = "control-label col-xs-3", @style = "padding-top:8px;" })
                                <div class="col-xs-9">
                                    @Html.DropDownListFor(m => m.SiteId, new SelectList(ViewBag.SiteList as System.Collections.IEnumerable, "SiteId", "SiteCode"), new { @class = "form-control required" })
                                    @Html.ValidationMessageFor(m => m.SiteId)
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="form-group">
                                @Html.LabelFor(model => model.DivisionId, "Division", new { @class = "control-label col-xs-3", @style = "padding-top:8px;" })
                                <div class="col-xs-9">
                                    @Html.DropDownListFor(m => m.DivisionId, new SelectList(ViewBag.DivisionList as System.Collections.IEnumerable, "DivisionId", "DivisionName"), new { @class = "form-control required" })
                                    @Html.ValidationMessageFor(m => m.SiteId)
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="footer">
                    <button type="submit" class="btn btn-success">Proceed</button>
                </div>
            }*@
        <div class="box">
            <!-- /.box-header -->
            <!-- form start -->

@using (Html.BeginForm("SiteSelection", "SiteSelection", FormMethod.Post, new { @class = "form-horizontal" }))
{  @Html.AntiForgeryToken()
                <div class="box-body">
                    <div class="form-group">
                        @Html.LabelFor(model => model.SiteId, ((Model.ViewModel.CompanySettingsViewModel)Session["CompanySettings"]).SiteCaption ?? "Site", new { @class = "control-label col-sm-2", @style = "padding-top:8px;" })
                        <div class="col-sm-10">
                            @Html.DropDownListFor(m => m.SiteId, new SelectList(ViewBag.SiteList as System.Collections.IEnumerable, "SiteId", "SiteCode"), new { @class = "form-control required" })
                            @Html.ValidationMessageFor(m => m.SiteId)
                        </div>
                    </div>
                    
                    <div class="form-group" style="display:@(ViewBag.DivisionList.Count > 1 ? "" : "none")">
                        @Html.LabelFor(model => model.DivisionId, ((Model.ViewModel.CompanySettingsViewModel)Session["CompanySettings"]).DivisionCaption ?? "Division", new { @class = "control-label col-sm-2", @style = "padding-top:8px;" })
                        <div class="col-sm-10">
                            @Html.DropDownListFor(m => m.DivisionId, new SelectList(ViewBag.DivisionList as System.Collections.IEnumerable, "DivisionId", "DivisionName"), new { @class = "form-control required" })
                            @Html.ValidationMessageFor(m => m.SiteId)
                        </div>
                    </div>
                </div>
                <!-- /.box-body -->
                <div class="box-footer with-border">
                    <button type="submit" class="btn btn-success center-block">continue</button>
                </div>
                <!-- /.box-footer -->
}


            <form class="form-horizontal">
            </form>
        </div>
    </div>
</body>
</html>
