@model Model.ViewModel.PurchaseOrderMasterDetailModel
@using Core.Common

<div class="modal-content">
    <div class="modal-header" style="border-bottom: 1px solid #8E8888">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"> <span class="glyphicon glyphicon-remove"></span></button>
        <h3>
            <span style="font-family: Calibri,sans-serif,Verdana;font-weight:bold" class="black"><span class="glyphicon glyphicon-file black"></span> Indents & Quantities</span>
        </h3>
    </div>
    <div>
        @using (Html.BeginForm("_ResultsPost", "PurchaseOrderLine", FormMethod.Post, new { enctype = "multipart/form-data", id = "modform" }))
        {
            @Html.ValidationLog((string)TempData["CSEXCL"])
            @Html.AntiForgeryToken()
            <div class="form-horizontal modal-body">

                <div style="padding-right:15px">
                    <div class="row">
                        <div class="form-horizontal">
                            @Html.ValidationSummary(true, null, new { @class = "alert alert-danger" })

                            <div class="panel panel-default" id="grid">
                                <div class="panel-heading headrow" style="background-image: -webkit-linear-gradient(top, #428bca 0%, #428bca 100%);color:white">
                                    <div class="row grid-head">
                                        <div class="col-xs-1 text-left">
                                            Srl.
                                        </div>
                                        <div class="col-xs-11">
                                            <div class="row">
                                                @*ProductInfo*@
                                                <div class="col-sm-4">
                                                    Product
                                                </div>
                                                <div class="col-sm-2">
                                                    Indent No
                                                </div>
                                                @*Qty*@
                                                <div class="col-sm-2 text-right">
                                                    Indent Qty
                                                </div>
                                                <div class="col-sm-2 text-right" style="padding-right:30px">
                                                    <a href="#" id="ToOrder" style="color:white">Order Qty</a>
                                                </div>
                                                <div class="col-sm-2 text-right" style="padding-right:30px">
                                                    Rate
                                                </div>
                                            </div>
                                        </div>

                                    </div>

                                </div>
                                <div class="panel-info" id="gbody" style="max-height:250px;overflow-y:scroll">
                                    @{
            decimal OrderQty = 0;
            decimal IndentQty = 0;
            int MaxUnitDecPlaces = 0;
            int MaxDealUnitDecPlaces = 0;
                                    }
                                    @for (int i = 0; i < Model.PurchaseOrderLineViewModel.Count(); i++)
                                    {
                                        @Html.HiddenFor(m => Model.PurchaseOrderLineViewModel[i].ProductId)
                                        @Html.HiddenFor(m => Model.PurchaseOrderLineViewModel[i].DealUnitId)
                                        @Html.HiddenFor(m => Model.PurchaseOrderLineViewModel[i].ProductName)
                                        @Html.HiddenFor(m => Model.PurchaseOrderLineViewModel[i].Specification)
                                        @Html.HiddenFor(m => Model.PurchaseOrderLineViewModel[i].Dimension1Name)
                                        @Html.HiddenFor(m => Model.PurchaseOrderLineViewModel[i].Dimension2Name)
                                        @Html.HiddenFor(m => Model.PurchaseOrderLineViewModel[i].PurchaseIndentLineId)
                                        @Html.HiddenFor(m => Model.PurchaseOrderLineViewModel[i].PurchaseOrderHeaderId)
                                        @Html.HiddenFor(m => Model.PurchaseOrderLineViewModel[i].PurchaseIndentDocNo)
                                        @Html.HiddenFor(m => Model.PurchaseOrderLineViewModel[i].IndentBalanceQty)
                                        @Html.HiddenFor(m => Model.PurchaseOrderLineViewModel[i].UnitId)
                                        @Html.HiddenFor(m => Model.PurchaseOrderLineViewModel[i].UnitConversionMultiplier)
                                        @Html.HiddenFor(m => Model.PurchaseOrderLineViewModel[i].unitDecimalPlaces, new { @class = "UDec" })
                                        @Html.HiddenFor(m => Model.PurchaseOrderLineViewModel[i].DealunitDecimalPlaces, new { @class = "DelUDec" })

                                        if (MaxDealUnitDecPlaces < Model.PurchaseOrderLineViewModel[i].DealunitDecimalPlaces)
                                        {
                                            MaxDealUnitDecPlaces = Model.PurchaseOrderLineViewModel[i].DealunitDecimalPlaces;
                                        }
                                        if (MaxUnitDecPlaces < Model.PurchaseOrderLineViewModel[i].unitDecimalPlaces)
                                        {
                                            MaxUnitDecPlaces = Model.PurchaseOrderLineViewModel[i].unitDecimalPlaces;
                                        }

                                        <div class='row crow grid-body' style='margin-left:0px;margin-right:0px'>
                                            <div class='col-xs-1 row-index'>
                                                @(i + 1)
                                                <input type='hidden' class='id' value="@Model.PurchaseOrderLineViewModel[i].PurchaseOrderHeaderId" />
                                            </div>
                                            <div class='col-xs-11'>
                                                <div class='row'>
                                                    <div class='col-sm-4'>
                                                        <strong>@Model.PurchaseOrderLineViewModel[i].ProductName</strong>
                                                        <br />
                                                        @Model.PurchaseOrderLineViewModel[i].Specification
                                                        @{
                                        var Dim1 = (string.IsNullOrEmpty(Model.PurchaseOrderLineViewModel[i].Dimension1Name)) ? "" : Model.PurchaseOrderLineViewModel[i].Dimension1Name + ",";
                                        var Dim2 = (string.IsNullOrEmpty(Model.PurchaseOrderLineViewModel[i].Dimension2Name)) ? "" : Model.PurchaseOrderLineViewModel[i].Dimension2Name;
                                                        }

                                                        @Dim1 @Dim2
                                                        <div>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-2 text-center">
                                                        @Model.PurchaseOrderLineViewModel[i].PurchaseIndentDocNo
                                                    </div>
                                                    <div class='col-sm-2 text-right'>
                                                        <a href="#" class="ToOrder" style="color:black">
                                                            <span id="IndentQty">@string.Format("{" + "0:0.".PadRight(@Model.PurchaseOrderLineViewModel[i].unitDecimalPlaces + 4, '0') + "}", Model.PurchaseOrderLineViewModel[i].IndentBalanceQty)</span>
                                                            <br />
                                                            <div>
                                                                <small>@Model.PurchaseOrderLineViewModel[i].UnitId</small>
                                                            </div>
                                                        </a>
                                                        @{IndentQty += Model.PurchaseOrderLineViewModel[i].IndentBalanceQty;}
                                                    </div>
                                                    <div class="col-md-2 text-right">
                                                        @Html.TextBoxFor(m => Model.PurchaseOrderLineViewModel[i].Qty, new { @class = "form-control text-right OrderQty" })
                                                        @Html.ValidationMessageFor(m => Model.PurchaseOrderLineViewModel[i].Qty, "", new { @class = "text-danger" })
                                                        @{OrderQty += Model.PurchaseOrderLineViewModel[i].Qty;}
                                                    </div>
                                                    <div class='col-sm-2 text-right'>
                                                        @Html.TextBoxFor(m => Model.PurchaseOrderLineViewModel[i].Rate, new { @class = "form-control text-right" })
                                                        @Html.ValidationMessageFor(m => Model.PurchaseOrderLineViewModel[i].Rate, "", new { @class = "text-danger" })
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                        <hr style='margin-top:0px;margin-bottom:0px' />
                                    }
                                </div>
                            </div>


                            <div class="row grid-head" style='margin-left:0px;margin-right:0px'>
                                <div class="col-xs-1 text-left">
                                </div>
                                <div class="col-xs-11">
                                    <div class="row">
                                        @*ProductInfo*@
                                        <div class="col-sm-4">
                                            <strong>Total</strong>
                                        </div>
                                        <div class="col-sm-2">

                                        </div>
                                        @*Qty*@
                                        <div class="col-sm-2 text-right">
                                            @string.Format("{" + "0:0.".PadRight(MaxUnitDecPlaces + 4, '0') + "}", IndentQty)
                                        </div>
                                        <div class="col-sm-2 text-right" style="padding-right:30px">
                                            <strong><span id="OrderQty">@string.Format("{" + "0:0.".PadRight(MaxUnitDecPlaces + 4, '0') + "}", OrderQty)</span></strong>
                                        </div>
                                        <div class="col-sm-2 text-right" style="padding-right:30px">

                                        </div>
                                    </div>
                                </div>

                            </div>

                        </div>
                    </div>
                </div>
                <div class="modal-footer " style="padding: 19px 20px 0 20px; border-top:1px solid #8E8888">
                    <button class="btn custom" name="Command:Edit" type="submit" id="submit"><h2 style="margin:0px" title="Proceed"><span class="glyphicon glyphicon-floppy-disk black black"></span> </h2></button>
                </div>
            </div>
        }
    </div>
</div>




<script type="text/javascript">

    var reset = false;
    var IsSaved = false;
    var ValidationCount = 0;

    $('#modform').bind('submit', function (event) {

        if (!IsSaved) {
            if (!ValidateData()) {
                return false;
            }
            IsSaved = true;
            $('button:submit').attr('disabled', 'disabled');
            return IsSaved;
        }
        else {
            return false;
        }


    });


    function ValidateData() {
        var ValidationMessage = "";

        //Client Side Validaion.....

        return (ValidationMessage == "");

    }


    $('input.OrderQty').change(function () {

        var $div = $(this).closest('div.row');
        var IndentQty = parseFloat($div.find('#IndentQty').text()) || 0;

        var OrderQty = parseFloat($div.find('input.OrderQty').val()) || 0;

        var bal = (OrderQty) - (IndentQty);

        if (bal > 0) {
            if (!$('#modform').find('.modal-body #errormsg').length) {
                $('#modform').find('#submit').attr('disabled', 'disabled');
                $('#modform').find('.modal-body').prepend("<div class='alert alert-danger'><span id=errormsg >Qty exceeding Plan Qty</span></div>")
            }
            else {
                $('#modform').find('#errormsg').text("Qty exceeding Required Qty");
            }
        }
        else {
            $('#modform').find('#submit:disabled').removeAttr('disabled');
            if ($('#modform').find('.modal-body #errormsg').length) {
                $('#modform').find('#errormsg').parent().remove();
            }
        }
        CalculateTotal();

    })

    function CalculateTotal() {
        var Order = 0;
        var maxDeclaces = 0;
        $('.row.crow.grid-body', '.modal-body').each(function () {

            if ($(this).find('input.OrderQty').val()) {
                Order += parseFloat($(this).find('input.OrderQty').val());
                var $Hidiv = $(this).closest('div.row.crow');
                var unitDecPlaces = parseFloat($Hidiv.find('.DelUDec').val()) || 0;
                if (unitDecPlaces > maxDeclaces)
                    maxDeclaces = unitDecPlaces;
            }

        })
        $('#OrderQty', '.modal-body').text(Order.toFixed(maxDeclaces));
    }


    $('.ToOrder').click(function () {

        var $Hidiv = $(this).closest('div.row.crow');

        var unitDecPlaces = parseFloat($Hidiv.find('.UDec').val()) || 0;

        var $div = $(this).closest('div.row');

        var OrderQty = parseFloat($div.find('#IndentQty').text()) || 0;

        if ($div.find('input.OrderQty').val() && $div.find('input.OrderQty').val() > 0) {
            $div.find('input.OrderQty').val(0);
        }

        else {
            $div.find('input.OrderQty').val(OrderQty.toFixed(unitDecPlaces));
        }




        CalculateTotal();

    })

    $('#ToOrder').click(function () {
        if (reset) {
            $('div.row.crow', "#gbody.panel-info").each(function (index) {


                var $Hidiv = $(this);

                var unitDecPlaces = parseFloat($Hidiv.find('.UDec').val()) || 0;

                var OrderQty = parseFloat($Hidiv.find('#IndentQty').text()) || 0;

                $Hidiv.find('input.OrderQty').val(OrderQty.toFixed(unitDecPlaces));


            })
            CalculateTotal();
            reset = false;
        }
        else if (!reset) {
            $('div.row.crow', "#gbody.panel-info").each(function (index) {

                var $Hidiv = $(this);

                $Hidiv.find('input.OrderQty').val(0);

            })
            CalculateTotal();
            reset = true;
        }
    })

</script>