@model IEnumerable<Model.Models.ReportLine>
@using GridMvc.Html;

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<span style="font-family: Calibri,sans-serif,Verdana;font-size:large">
    @Html.ActionLink("Create New", "Create", new { id=Model.FirstOrDefault().ReportHeaderId})|
@Html.ActionLink("Back", "Index", "ReportHeader")
</span>

<div class="panel panel-default">
    <div class="panel-heading">
        <h4>
            <span style="font-family: Calibri,sans-serif,Verdana">ReportLine List</span>
        </h4>

    </div>
    <div class="panel-info" style="padding-left:5px;padding-top:2px">

        @Html.Grid(Model).Columns(columns =>
           {                          
               columns.Add(foo => foo.ReportLineId, true);
               columns.Add(foo => foo.DisplayName).Sortable(true).Titled("Display Name").Filterable(true).SetWidth(100).Css("modal-link");
               columns.Add(foo => foo.DataType).Sortable(true).Titled("Name").Filterable(true).SetWidth(100).Css("modal-link");               
               columns.Add().Encoded(false).Sanitized(false).SetWidth(100).RenderValueAs(d => @Html.ActionLink(" ", "Edit", "ReportLine", new { id = d.ReportLineId }, new { @class = "rowEditBlue" }));
               columns.Add().Encoded(false).Sanitized(false).SetWidth(100).RenderValueAs(d => @Html.ActionLink(" ", "Delete", "ReportLine", new { id = d.ReportLineId}, new { @class = "rowDeleteBlue" }));
              
              
           }).WithPaging(25).EmptyText("No records found.")


    </div>
</div>

