@using Core.Common;
@using Model.ViewModel;
@using GridMvc.Html

@model IQueryable<Model.ViewModel.JobReceivePendingToQAIndex>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    string ControllerName = (string)ViewContext.RouteData.Values["controller"];
    string IndexStatus = (string)ViewBag.IndexStatus;
}

<!-- modal placeholder-->
<div id='myModal' class='modal fade in'>
    <div class="modal-dialog">
        <div class="modal-content">
            <div id='myModalContent'></div>
        </div>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
        <h3>
            <span style="font-family: Calibri,sans-serif,Verdana;font-weight:bold" class="black"><span class="glyphicon glyphicon-list black"></span> @ViewBag.Name List</span>
        </h3>
        <hr style="margin-top:0px;margin-bottom:0px" />
        <input type="hidden" class="DocType_Id" value="@ViewBag.id">
        @*<div class="panel-info">
            <div class="btn-group">
                @Html.ActionLink(" ", "Create", "JobReceiveQAHeader", new { @id = @ViewBag.id }, new { @class = "cbtn btn-circle glyphicon glyphicon-plus toolbar", @title = "Add New", @data_toggle = "tooltip" })
                @Html.ActionLink(" ", "GeneratePrints", "JobReceiveQAHeader", null, new { @class = "cbtn btn-circle glyphicon glyphicon-print toolbar", @title = "Print", @data_toggle = "tooltip", @id = "PrintRecordI", target = "_blank" })
                @Html.ActionLink(" ", "Remove", "JobReceiveQAHeader", null, new { @class = "cbtn btn-circle glyphicon glyphicon-trash toolbar", @title = "Delete", @data_toggle = "tooltip", @id = "DeleteRecord", @data_modalDelete = "" })
            </div>
            <div class="btn-group">
                <a class="cbtn btn-circle glyphicon glyphicon-option-horizontal dropdown-toggle" aria-expanded="false" style="padding-top: 6px;padding-bottom: 6px;" href="#" data-toggle="dropdown" id="dropdownMenu1">
                </a>
                <ul class="dropdown-menu pull-right" aria-labelledby="dropdownMenu1">
                    <li><a href="@Url.Action("Wizard", "JobReceiveQAHeader", new { @id = @ViewBag.id })"><span class="glyphicon glyphicon-import" onclick="$('#')"> </span> Wizard</a></li>
                    <li><a href="@Url.Action("Import", "JobReceiveQAHeader", new { @id = @ViewBag.id })"><span class="glyphicon glyphicon-import"> </span> Import</a></li>
                    <li><a href="@Url.Action("Create", "JobReceiveQASettings", new { @id = @ViewBag.id })"><span class="glyphicon glyphicon-cog"> </span> Settings</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="@Url.Action("Report", "JobReceiveQAHeader", new { @ViewBag.id })"><span class="glyphicon glyphicon-stats"> </span> Report</a></li>
                </ul>
            </div>
        </div>*@
        @*<hr style="margin-top: 5px; margin-bottom: 5px; border-top: 1px solid #706f6f; " />

        @CustomHelpers.RenderStatusFilters(ViewBag.PendingToSubmit, ViewBag.PendingToReview, ControllerName, ViewBag.id, ViewBag.IndexStatus)*@
    </div>

    <div class="panel-info" style="padding-left:5px;padding-top:2px">

        @Html.Grid(Model).Columns(columns =>
           {
               columns.Add(foo => foo.JobReceiveLineId, true).Css("JobReceiveLineId");
               columns.Add(foo => foo.DocTypeId, true).Css("DocTypeId");
               columns.Add(foo => foo.DocDate).Sortable(true).Titled("Receive Date").Format("{0:dd/MMM/yyyy}").Filterable(true);
               columns.Add(foo => foo.DocNo).Sortable(true).Titled("Receive No.").Filterable(true).Sortable(true);
               columns.Add(foo => foo.JobWorkerName).Sortable(true).Titled("Job Worker").Filterable(true);
               columns.Add(foo => foo.ProductName).Sortable(true).Titled("Product").Filterable(true);
               columns.Add(foo => foo.ProductUidName).Sortable(true).Titled("Product Uid").Filterable(true);
           }).WithPaging(25).EmptyText("No records found.").Sortable().Filterable().WithMultipleFilters()
    </div>
</div>


<script type="text/javascript">

    $('table.grid-table td').dblclick(function () {
        var $this = $(this);
        var row = $this.closest("tr");
        
        
        var row = $this.closest("tr");
        var editid = row.find('[data-name="JobReceiveLineId"]').text();
        var DocTypeId = row.find('[data-name="DocTypeId"]').text();
        var url = '@Url.Action("Create", "JobReceiveQAAttribute")' + "/" + editid + "?DocTypeId=" + DocTypeId;
        window.location.href = url;
    });
</script>