@model Model.ViewModels.BuyerViewModel

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- modal placeholder-->
<div id='myModal' class='modal fade in'>
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div id='myModalContent'></div>
        </div>
    </div>
</div>

<script src="~/Scripts/Jasny/jasny-bootstrap.min.js"></script>
<link href="~/Content/jasny/jasny-bootstrap.min.css" rel="stylesheet" />



@using (Html.BeginForm("Create", "Buyer", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => m.PersonId)
    @Html.HiddenFor(m => m.PersonAddressID)
    @Html.HiddenFor(m => m.AccountId)
    @Html.HiddenFor(m => m.PersonRegistrationCstNoID)
    @Html.HiddenFor(m => m.PersonRegistrationTinNoID)
    @Html.HiddenFor(m => m.CreatedBy)
    @Html.HiddenFor(m => m.CreatedDate)
    @Html.HiddenFor(m=>m.ImageFileName)
    @Html.HiddenFor(m=>m.ImageFolderName)



    <div class="panel panel-default">
        <div class="panel-heading">
            <h3>
                <span style="font-family: Calibri,sans-serif,Verdana;font-weight:bold" class="black"> <span class="glyphicon glyphicon-file black"></span>Buyer</span>
                <input type="submit" value="Save" class="btn btn-primary right" id="submit" style="width: 90px; background-color: #2980b9" />
            </h3>
            <hr style="margin-top:0px;margin-bottom:0px" />
            <div class="panel-info">        
                <div class="btn-group">
                    @Html.ActionLink(" ", "Create", "Buyer", null, new { @class = "cbtn btn-circle glyphicon glyphicon-plus toolbar", @title = "Add New", @data_toggle = "tooltip" })
                    @Html.ActionLink(" ", "Print", "Buyer", null, new { @class = "cbtn btn-circle glyphicon glyphicon-print toolbar", @title = "Print", @data_toggle = "tooltip" })
                    @Html.ActionLink(" ", "PrevPage", "Buyer", new { id = @Model.PersonId }, new { @class = "cbtn btn-circle glyphicon glyphicon-arrow-left toolbar", @title = "Prev Record", @data_toggle = "tooltip" })
                    @Html.ActionLink(" ", "NextPage", "Buyer", new { id = @Model.PersonId }, new { @class = "cbtn btn-circle glyphicon glyphicon-arrow-right toolbar", @title = "Next Record", @data_toggle = "tooltip" })
                </div>
                <div class="btn-group">
                    <a class="cbtn btn-circle glyphicon glyphicon-option-horizontal dropdown-toggle" aria-expanded="false" style="padding-top: 6px;padding-bottom: 6px;" href="#" data-toggle="dropdown" id="dropdownMenu1">
                    </a>
                    <ul class="dropdown-menu pull-right" aria-labelledby="dropdownMenu1">
                        <li><a href="@Url.Action("Email", "Buyer")"><span class="glyphicon glyphicon-envelope"> </span> Email</a></li>
                        <li><a href="@Url.Action("Index", "Buyer")"><span class="glyphicon glyphicon-list"> </span> List</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="@Url.Action("Report", "Buyer")"><span class="glyphicon glyphicon-th"> </span> Report</a></li>
                        </ul>
                  </div>
            </div>
        </div>
        <div class="panel-info" style="padding-left:15px">
            <div class="form-horizontal">
                @Html.ValidationSummary(true)

                <div>
                    <h4 class="col-md-12 black">
                        <span class="glyphicon glyphicon-align-justify"></span>
                        1.Personal Details
                    </h4>
                    <div>
                        <div>
                            <div class="col-md-6">
                                <div>
                                    <div class="col-md-12">
                                        <div class="form-group" style="margin-top:15px">
                                            @Html.LabelFor(model => model.Name, "Name", new { @class = "control-label  col-md-4 col-sm-2" })
                                            <div class="col-md-7 col-sm-10">
                                                @Html.TextBoxFor(model => model.Name, null, new { @class = "form-control col-xs-6 required" })
                                                @Html.ValidationMessageFor(m => m.Name, "", new { @class="text-danger"})
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div>
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.Suffix, "Suffix", new { @class = "control-label  col-md-4 col-sm-2" })
                                            <div class="col-md-7 col-sm-10">
                                                @Html.TextBoxFor(m => m.Suffix, null, new { @class = "form-control col-xs-6 required" })
                                                @Html.ValidationMessageFor(m => m.Suffix, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>
                                </div>


                                <div>
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.Code, "Code", new { @class = "control-label  col-md-4 col-sm-2" })
                                            <div class="col-md-7 col-sm-10">
                                                @Html.TextBoxFor(m => m.Code, null, new { @class = "form-control col-xs-6 required" })
                                                @Html.ValidationMessageFor(model => model.Code, "", new { @class = "text-danger" })
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div>
                                    <div class="col-md-offset-4 col-md-8">
                                        <div class="fileinput fileinput-new" data-provides="fileinput">
                                            <div class="fileinput-new thumbnail" style="width: 200px; height: 150px;">
                                                <img src="~/Uploads/@(Model.ImageFolderName)/Medium/@(Model.ImageFileName)" alt="...">
                                            </div>
                                            <div class="fileinput-preview fileinput-exists thumbnail" style="max-width: 200px; max-height: 150px;"></div>
                                            <div >
                                                <span class="btn btn-default btn-file" style="background-color: transparent; color: black; font-family:Arial; border-radius:5px">
                                                    <span id="Select" class="fileinput-new">Select</span>
                                                    <span id="Change" class="fileinput-exists">Change</span>
                                                    <input type="file" name="upload">
                                                </span>
                                                <a href="#" class="btn btn-default fileinput-exists" style="background-color: transparent; color: black; font-family: Arial; border-radius: 5px" data-dismiss="fileinput">Remove</a>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <hr style="margin-bottom:0px" />
                <div>
                    <h4 class="col-md-12 black">
                        <span class="glyphicon glyphicon-shopping-cart"></span>
                        2.Contact Details
                    </h4>
                    <div>
                        <div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.Address, "Address", new { @class = "control-label  col-md-4 col-sm-2" })
                                    <div class="col-md-7 col-sm-10">
                                        @Html.TextAreaFor(model => model.Address, new { @class = "form-control col-xs-6 required" })
                                        @Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.CityId, "City", new { @class = "control-label  col-md-4 col-sm-2" })
                                    <div class="col-md-7 col-sm-10">
                                        @Html.TextBoxFor(m => m.CityId, new { @class = "form-control col-xs-6 height required" })
                                        @Html.ValidationMessageFor(model => model.CityId, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.Zipcode, "Zip Code", new { @class = "control-label  col-md-4 col-sm-2" })
                                    <div class="col-md-7 col-sm-10">
                                        @Html.TextBoxFor(m => m.Zipcode, new { @class = "form-control col-xs-6 height required" })
                                        @Html.ValidationMessageFor(model => model.Zipcode, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.Phone, "Phone", new { @class = "control-label  col-md-4 col-sm-2" })
                                    <div class="col-md-7 col-sm-10">
                                        @Html.TextBoxFor(m => m.Phone, new { @class = "form-control col-xs-6 height" })
                                        @Html.ValidationMessageFor(m => m.Phone, "", new { @class="text-danger"})
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.Mobile, "Mobile", new { @class = "control-label  col-md-4 col-sm-2" })
                                    <div class="col-md-7 col-sm-10">
                                        @Html.TextBoxFor(m => m.Mobile, new { @class = "form-control col-xs-6" })
                                        @Html.ValidationMessageFor(m => m.Mobile, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.Email, "Email", new { @class = "control-label  col-md-4 col-sm-2" })
                                    <div class="col-md-7 col-sm-10">
                                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control col-xs-6" })
                                        @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>



                <hr style="margin-bottom:0px" />
                <div>
                    <h4 class="col-md-12 black">
                        <span class="glyphicon glyphicon-shopping-cart"></span>
                        3.Business Details
                    </h4>
                    <div>
                        <div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.CstNo, "Cst No", new { @class = "control-label  col-md-4 col-sm-2" })
                                    <div class="col-md-7 col-sm-10">
                                        @Html.TextBoxFor(model => model.CstNo, null, new { @class = "form-control col-xs-6 " })
                                        @Html.ValidationMessageFor(m => m.CstNo, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.TinNo, "Tin No", new { @class = "control-label  col-md-4 col-sm-2" })
                                    <div class="col-md-7 col-sm-10">
                                        @Html.TextBoxFor(m => m.TinNo, new { @class = "form-control col-xs-6 height" })
                                        @Html.ValidationMessageFor(m => m.TinNo, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.PersonRateGroupId, "Rate Group", new { @class = "control-label  col-md-4 col-sm-2" })
                                    <div class="col-md-7 col-sm-10">
                                        @Html.TextBoxFor(m => m.PersonRateGroupId, new { @class = "form-control col-xs-6" })
                                        @Html.ValidationMessageFor(m => m.PersonRateGroupId, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.Tags, "Tags", new { @class = "control-label  col-md-4 col-sm-2" })
                                    <div class="col-md-7 col-sm-10">
                                        @Html.TextBoxFor(m => m.Tags, null, new { @class = "form-control col-xs-6" })
                                        @Html.ValidationMessageFor(model => model.Tags, null, new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.CreaditDays, "Credit Days", new { @class = "control-label  col-md-4 col-sm-2" })
                                    <div class="col-md-7 col-sm-10">
                                        @Html.TextBoxFor(m => m.CreaditDays, new { @class = "form-control col-xs-6" })
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.CreaditLimit, "Creadit Limit", new { @class = "control-label  col-md-4 col-sm-2" })
                                    <div class="col-md-7 col-sm-10">
                                        @Html.TextBoxFor(m => m.CreaditLimit, new { @class = "form-control col-xs-6" })
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.SalesTaxGroupPartyId, "Sales Tax Group", new { @class = "control-label  col-md-4 col-sm-2" })
                                    <div class="col-md-7 col-sm-10">
                                        @Html.DropDownListFor(m => m.SalesTaxGroupPartyId, new SelectList(ViewBag.SalesTaxGroupPartyList as System.Collections.IEnumerable, "SalesTaxGroupPartyId", "SalesTaxGroupPartyName"), new { @class = "form-control col-xs-6 height" })
                                        @Html.ValidationMessageFor(m => m.SalesTaxGroupPartyId, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.LedgerAccountGroupId, "Account Group", new { @class = "control-label  col-md-4 col-sm-2" })
                                    <div class="col-md-7 col-sm-10">
                                        @Html.TextBoxFor(m => m.LedgerAccountGroupId, new { @class = "form-control col-xs-6 required" })
                                        @Html.ValidationMessageFor(m => m.LedgerAccountGroupId, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div>
                            <div class="col-md-6">
                                <div class="form-group" style="margin-top:15px">
                                    @Html.LabelFor(model => model.IsActive, "Is Active", new { @class = "control-label  col-md-4 col-sm-2" })
                                    <div class="col-md-7 col-sm-10" style=" padding-top:4px">
                                        @Html.CheckBoxFor(m => m.IsActive, new { @class = "checkbox col-xs-1" })
                                        @Html.ValidationMessageFor(model => model.IsActive)
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group" style="margin-top:15px">
                                    @Html.LabelFor(model => model.IsSisterConcern, new { @class = "control-label  col-md-4 col-sm-2" })
                                    <div class="col-md-7 col-sm-10" style=" padding-top:4px">
                                        @Html.CheckBoxFor(m => m.IsSisterConcern, new { @class = "checkbox col-xs-1" })
                                        @Html.ValidationMessageFor(model => model.IsSisterConcern)
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.SiteIds, "Work In Branches", new { @class = "control-label  col-md-4 col-sm-2" })
                                    <div class="col-md-7 col-sm-10">
                                        @Html.TextBoxFor(m => m.SiteIds, new { @class = "form-control col-xs-6 " })
                                        @Html.ValidationMessageFor(m => m.SiteIds)
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.GuarantorId, "Introducer", new { @class = "control-label  col-md-4 col-sm-2" })
                                    <div class="col-md-7 col-sm-10">
                                        @Html.TextBoxFor(m => m.GuarantorId, new { @class = "form-control col-xs-6 " })
                                        @Html.ValidationMessageFor(m => m.GuarantorId)
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.ParentId, "Parent", new { @class = "control-label  col-md-4 col-sm-2" })
                                    <div class="col-md-7 col-sm-10">
                                        @Html.TextBoxFor(m => m.ParentId, new { @class = "form-control col-xs-6 " })
                                        @Html.ValidationMessageFor(m => m.ParentId)
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>











                <hr />
                <div class="row">
                    <h4 class="col-md-12 black" style="margin-top:15px">
                        <span class="glyphicon glyphicon-shopping-cart"></span>
                        4.Contact Person Details
                    </h4>
                </div>

                <div class="panel-info">
                    <h5 style="padding:5px 0 3px 0;margin:0px;font-weight:bold">
                        <span class="glyphicon glyphicon-plus-sign"></span>
                        @Html.ActionLink("Add New Row ", "_Create", "PersonContact", new { id = @Model.PersonId }, new { data_modal = "", id = "btnCreate", @class = "toolbar", @title = "Add New", @data_toggle = "tooltip" })
                    </h5>
                </div>

                <div style="padding-right:15px">
                    <table class="table table-hover ctable">
                        <thead id="header">
                        </thead>

                        <tbody id="Result"></tbody>
                    </table>
                </div>







                <hr />
                <div class="row">
                    <h4 class="col-md-12 black" style="margin-top:15px">
                        <span class="glyphicon glyphicon-shopping-cart"></span>
                        5.Bank Account Details
                    </h4>
                </div>

                <div class="panel-info">
                    <h5 style="padding:5px 0 3px 0;margin:0px;font-weight:bold">
                        <span class="glyphicon glyphicon-plus-sign"></span>
                        @Html.ActionLink("Add New Row ", "_Create", "PersonBankAccount", new { id = @Model.PersonId }, new { data_modal = "", id = "btnCreate", @class = "toolbar", @title = "Add New", @data_toggle = "tooltip" })
                    </h5>
                </div>

                <div style="padding-right:15px">
                    <table class="table table-hover ctable">
                        <thead id="BankAccountHeader">
                        </thead>

                        <tbody id="BankAccoutDetail"></tbody>
                    </table>
                </div>







            </div>
        </div>
    </div>
}

<script type="text/javascript">
    $(function()
    {
        var TitleCase= '@Session["TitleCase"]';
        //alert(TitleCase);
        $('#Name,#Suffix,#Code,#PanNo').focusout(function () {
            if (TitleCase=="UpperCase")
            this.value = this.value.toUpperCase() ;
    });
    });
</script>

<script type="text/javascript">
    CustomSelectFunction($("#CityId"), '/ComboHelpList/GetCity', '/ComboHelpList/SetSingleCity', ' ', false, 0);
    CustomSelectFunction($("#GuarantorId"), '/ComboHelpList/GetPerson', '/ComboHelpList/SetSinglePerson', ' ', false, 1);
    CustomSelectFunction($("#ParentId"), '/ComboHelpList/GetBuyers', '/ComboHelpList/SetSingleBuyer', ' ', false, 1);    
    CustomSelectFunction($("#PersonRateGroupId"), '/ComboHelpList/GetPersonRateGroup', '/ComboHelpList/SetSinglePersonRateGroup', ' ', false, 0);
    CustomSelectFunction($("#LedgerAccountGroupId"), '/ComboHelpList/GetAccountGroup', '/ComboHelpList/SetSingleAccountGroup', ' ', false, 0);

    //For Multi Selection Help
    CustomSelectFunction($("#DivisionIds"), '/ComboHelpList/GetDivision', '/ComboHelpList/SetDivision', ' ', true, 0);
    CustomSelectFunction($("#SiteIds"), '/ComboHelpList/GetSite', '/ComboHelpList/SetSite', ' ', true, 0);
    CustomSelectFunction($("#ProcessIds"), '/ComboHelpList/GetProcess', '/ComboHelpList/SetProcess', ' ', true, 0);
    $("#Tags").select2({tags: true,tokenSeparators: [',', ' ']});


    var IsSaved=false;
    var ValidationCount=0;

    $('form').submit(function(event){
    
        if(!IsSaved)
        {
            if(!ValidateData())
            {
                return false;
            }
            IsSaved=true;
            return IsSaved;
        }
        else
        {
            return false;
        }


    });


    function ValidateData() {        
        var DocId=@Model.PersonId;
        var TempValue;
        var ValidationMessage="";



        //Checking for dulicate key value
        if(DocId<=0)
        {
            TempValue= $('#Name').DuplicateCheckForCreate({ name: 'Person', value: $('#Name').val(), doctype: 0 });
            if (TempValue){ ValidationMessage=$('#Name').val() + " already exist <br />";}
        }
        else
        {
            test = $('#Name').DuplicateCheckForEdit({ name: 'Person', value: $('#Name').val(), doctype: 0,headerId:DocId });
            if (TempValue) {ValidationMessage+=$('#Name').val() + " already exist <br />";}
        }
        if(TempValue)
        {
            if($('#validationerrormsg').length==0){
                $('.panel-info').filter(':eq(1)').before('<div class="alert alert-danger" role="alert" id="validationerrormsg">'+ValidationMessage+'</div>');}
            else
            {
                $('#validationerrormsg').html(ValidationMessage);
            }
        }
        return  (ValidationMessage=="");

    }


</script>

<script type="text/javascript">
    var form_clean;
    $(document).ready(function () {

        //Calling the function to load the table data/ Line information
        LoadPersonContact();
        LoadPersonBankDetail();
        


        form_clean = $("form").serialize();


        //For maintaining the data change on the form
        //To enable of disable save button based on the data changed
        $("input,select").change(function () {
            var form_dirty = $("form").serialize();
            if (form_clean != form_dirty) {
                $("#submit").removeAttr('disabled');
            }
            else
            {
                // alert('same form');
                $("#submit").attr({ "disabled": "disabled" })
            }
        });
    });


    var id=@Model.PersonId;
    if(id==null||id==0)
    {
        $(document).find('a#btnCreate').removeAttr('href').removeAttr('data-modal');
    }



    //Reloading the table contents on modal hide
    $('#myModal').on('hidden.bs.modal', function () {
        LoadPersonContact();
        LoadPersonBankDetail();
        
    });


    //To focus on the first element on modal load
    $('#myModal').on('shown.bs.modal', function () {
        $("#Name").select2("focus");
    });




    //Loading the Table data or Line Information
    function LoadPersonContact() {
        var groupId=@Model.PersonId;
        var link="/PersonContact/Index/"+groupId;
        $.ajax({
            url: link,
            type: "GET",
            success: function (data) {
                var row = ""
                var srno=1;
                var head="<tr style='background-color:#428bca'>  <th style='width:10px'><input type='hidden'  /></th> <th style='width:10px'>Serial</th><th class='center' style='width:50px'>Name</th>   <th class='center' style='width:50px'>Phone</th>      <th class='center' style='width:50px'>Mobile</th>       <th class='center' style='width:50px'>EMail</th> <th style='width:10px'></th>       <th style='width:10px'></th>  </tr>"
                if(data.length!=0)
                {
                    $.each(data, function (index, item) {
                        row += "<tr><td><input type='hidden' class='id' value='" + item.PersonContactId + "'/></td> <td>"+ srno +"</td> <td>" + item.Name + "</td>        <td>" + item.Phone + "</td>          <td>" + item.Mobile + "</td>                  <td>" + item.Email + "</td>                  <td><a class=' hidden' Modify href='/PersonContact/_Edit/"+item.PersonContactId+"' ></a></td>       <td><a class='glyphicon glyphicon-trash' data-modal='' delete='' href='/PersonContact/_Edit/"+item.PersonContactId+"' ></a></td>  </tr>";
                        srno++;
                    });
                }
                else
                {
                    row+="<tr><td>No Items Found.</td></tr>";
                }
                $("#header").html(head);
                $("#Result").html(row);
            },
            error: function (result) {
                alert("Error");
            }
        });
    }



    //Loading the Table data or Line Information
    function LoadPersonBankDetail() {
        var groupId=@Model.PersonId;

        var link="/PersonBankAccount/Index/"+groupId;

        $.ajax({
            url: link,
            type: "GET",
            success: function (data) {
                var row = ""
                var srno=1;
                var head="<tr style='background-color:#428bca'>  <th style='width:10px'><input type='hidden'  /></th> <th style='width:10px'>Serial</th><th class='center' style='width:50px'>Bank Name</th>   <th class='center' style='width:50px'>Bank Branch</th>      <th class='center' style='width:50px'>Bank Code</th>       <th class='center' style='width:50px'>Account No</th>       <th class='center' style='width:50px'>Remark</th> <th style='width:10px'></th>       <th style='width:10px'></th>  </tr>"
                if(data.length!=0)
                {
                    $.each(data, function (index, item) {
                        row += "<tr><td><input type='hidden' class='id' value='" + item.PersonBankAccountID + "'/></td> <td>"+ srno +"</td> <td>" + item.BankName + "</td>        <td>" + item.BankBranch + "</td>          <td>" + item.BankCode + "</td>                  <td>" + item.AccountNo + "</td>                  <td>" + item.Remark + "</td>                  <td><a class=' hidden' Modify href='/PersonBankAccount/_Edit/"+item.PersonBankAccountID+"' ></a></td>       <td><a class='glyphicon glyphicon-trash' data-modal='' delete='' href='/PersonBankAccount/_Edit/"+item.PersonBankAccountID+"' ></a></td>  </tr>";
                        srno++;
                    });
                }
                else
                {
                    row+="<tr><td>No Items Found.</td></tr>";
                }
                $("#BankAccountHeader").html(head);
                $("#BankAccoutDetail").html(row);
            },
            error: function (BankAccoutDetail) {
                alert("Error");
            }
        });
    }












    //For Populating Modal PopUp on DoubleClick Of Row
    $('#Result').on("dblclick",'tr',function(){
        var text = $(this).find(".id").val();
        var editurl=$(this).find('a[Modify]').attr('href');


        $('#myModalContent').load(editurl, function () {
            //alert('2');
            $('#myModal').modal({
                backdrop: 'static',
                keyboard: true
            }, 'show');

            bindForm1(this);
        });
    });




    //For Populating Modal PopUp on DoubleClick Of Row
    $('#BankAccoutDetail').on("dblclick",'tr',function(){
        var text = $(this).find(".id").val();
        var editurl=$(this).find('a[Modify]').attr('href');


        $('#myModalContent').load(editurl, function () {
            //alert('2');
            $('#myModal').modal({
                backdrop: 'static',
                keyboard: true
            }, 'show');

            bindForm1(this);
        });
    });



    //For Handling Modal PopUp on Clicking Delete Icon
    $('#Result').on("click",'a[delete]', function (e) {
        $('#myModalContent').load(this.href, function () {
            //alert('2');
            $('#myModal').modal({
                backdrop: 'static',
                keyboard: true
            }, 'show');

            bindForm1(this);
        });
        return false;
    });


    //For Handling Modal PopUp on Clicking Delete Icon
    $('#BankAccoutDetail').on("click",'a[delete]', function (e) {
        $('#myModalContent').load(this.href, function () {
            //alert('2');
            $('#myModal').modal({
                backdrop: 'static',
                keyboard: true
            }, 'show');

            bindForm1(this);
        });
        return false;
    });



    //For posting the data through ajax and render the contents sent back from the server
    function bindForm1(dialog) {
        //alert("binding");
        $('form', dialog).submit(function () {
            //alert(this.action);
            $.ajax({
                url: this.action,
                type: this.method,
                data: $(this).serialize(),
                success: function (result) {
                    if (result.success) {
                        $('#myModal').modal('hide');
                        //Refresh
                        //location.reload();
                        //alert('Data Saved');
                    }else if(!result.success)
                    {
                        $('#myModalContent').html(result);
                        bindForm1();
                    }
                    else {
                        $('#myModalContent').html(result);
                        bindForm1();
                    }
                }
            });
            return false;
        });

    }
</script>

