@model Model.Models.ProductManufacturingStyle

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
       @Html.HiddenFor(model => model.ProductManufacturingStyleId)    
       
        @Html.HiddenFor(model => model.CreatedBy)
        @Html.HiddenFor(model => model.CreatedDate)
    
     <fieldset class="form-horizontal">
        <legend>Product Manufacturing Style</legend>
    <div class="form-horizontal">
        
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.ProductManufacturingStyleId)

        <div class="form-group">
            @Html.LabelFor(model => model.ProductManufacturingStyleName, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ProductManufacturingStyleName)
                @Html.ValidationMessageFor(model => model.ProductManufacturingStyleName)
            </div>
        </div>


        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
         </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
