@using GridMvc.Html;

@model IQueryable<Models.Customize.ViewModels.DyeingViewModel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    string ControllerName = (string)ViewContext.RouteData.Values["controller"];
    string IndexStatus = (string)ViewBag.IndexStatus;
}

<style type="text/css">
    .panel-info .dropdown-toggle:hover {
        color: #1AAFD0;
    }
</style>

<!-- modal placeholder-->
<div id='myModal' class='modal fade in'>
    <div class="modal-dialog">
        <div class="modal-content">
            <div id='myModalContent'></div>
        </div>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
        <h3>
            <span style="font-family: Calibri,sans-serif,Verdana;font-weight:bold" class="black"><span class="glyphicon glyphicon-list black"></span> @ViewBag.Name List </span>
        </h3>
        <hr style="margin-top:0px;margin-bottom:0px" />
        <input type="hidden" class="DocType_Id" value="@ViewBag.id">
        <div class="panel-info">
            @*<h4 style="padding: 5px 0 0 0; margin: 0px; position: relative" class="dropdown">
                @Html.ActionLink(" ", " ", " ", null, new { @class = "glyphicon glyphicon-refresh toolbar", @title = "Refresh Page", @data_toggle = "tooltip", @id = "RefreshPage" })
                @Html.ActionLink(" ", "Report", "Dyeing", new { @ViewBag.id }, new { @class = "glyphicon glyphicon-stats toolbar right", @title = "Report", @data_toggle = "tooltip", @id = "ReportRecord", target = "_blank" })
                @Html.ActionLink(" ", "", "", null, new { @class = "glyphicon glyphicon-export toolbar right", @title = "Export", @data_toggle = "tooltip" })
                @Html.ActionLink(" ", "Index", "Dyeing", new { @id = @ViewBag.id }, new { @class = "glyphicon glyphicon-list toolbar right", @title = "Index", @data_toggle = "tooltip" })
                </h4>*@
            <div class="btn-group">
                @Html.ActionLink(" ", "Create", "Dyeing", new { @id = @ViewBag.id }, new { @class = "cbtn btn-circle glyphicon glyphicon-plus toolbar", @title = "Add New", @data_toggle = "tooltip" })
                @Html.ActionLink(" ", "GetHistory", "LogHistory", null, new { @class = "cbtn btn-circle glyphicon glyphicon-user toolbar", @title = "History", @data_toggle = "tooltip", @id = "DocHistoryI" })
                @Html.ActionLink(" ", "GeneratePrints", "Dyeing", null, new { @class = "cbtn btn-circle glyphicon glyphicon-print toolbar", @title = "Print", @data_toggle = "tooltip", @id = "PrintRecordI", target = "_blank" })
                @Html.ActionLink(" ", "GenerateGatePass", "Dyeing", null, new { @class = "cbtn btn-circle glyphicon glyphicon glyphicon-log-out toolbar", @title = "GatePass", @data_toggle = "tooltip", @id = "GenGatePassI" })
                @Html.ActionLink(" ", "Remove", "Dyeing", null, new { @class = "cbtn btn-circle glyphicon glyphicon-trash toolbar", @title = "Delete", @data_toggle = "tooltip", @id = "DeleteRecord", @data_modal = "", onclick = "" })
            </div>
            <div class="btn-group">
                <a class="cbtn btn-circle glyphicon glyphicon-option-horizontal dropdown-toggle" aria-expanded="false" style="padding-top: 6px;padding-bottom: 6px;" href="#" data-toggle="dropdown" id="dropdownMenu1">
                </a>
                <ul class="dropdown-menu pull-right" aria-labelledby="dropdownMenu1">
                    @*<li><a href="@Url.Action("Wizard", "Dyeing", new { @id = @ViewBag.id })"><span class="glyphicon glyphicon-random" onclick="$('#')"> </span>&nbsp;&nbsp;Wizard</a></li>
                    <li><a href="@Url.Action("Import", "Dyeing", new { @id = @ViewBag.id })"><span class="glyphicon glyphicon-import"> </span>&nbsp;&nbsp;Import</a></li>*@
                    <li><a href="@Url.Action("Create", "JobOrderSettings", new { @id = @ViewBag.id })"><span class="glyphicon glyphicon-cog"> </span>&nbsp;&nbsp;Settings</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a target="_blank" href="@Url.Action("Report", "Dyeing", new { @ViewBag.id })"><span class="glyphicon glyphicon-stats"> </span> Report</a></li>
                </ul>
            </div>
            <div class="btn-group right">
                @CustomHelpers.RenderIconStatusFilters(ViewBag.PendingToSubmit, ViewBag.PendingToReview, ControllerName, ViewBag.id, ViewBag.IndexStatus)
            </div>
        </div>
        @*<hr style="margin-top: 5px; margin-bottom: 5px; border-top: 1px solid #706f6f; " />

        @CustomHelpers.RenderStatusFilters(ViewBag.PendingToSubmit, ViewBag.PendingToReview, ControllerName, ViewBag.id, ViewBag.IndexStatus)*@

    </div>
    <div class="panel-info" style="padding-left:5px;padding-top:2px;font-size:12px">

        @Html.Grid(Model).Columns(columns =>
           {
               columns.Add(m => m.JobReceiveHeaderId, true).Css("Header_Id");
               columns.Add(m => m.Status, true);
               columns.Add(foo => foo.DocDate).Sortable(true).Titled("Dyeing Date").Format("{0:dd/MMM/yyyy}").Filterable(true);
               columns.Add(m => m.DocNo).Sortable(true).Titled("Dyeing No.").Filterable(true).Sortable(true);
               columns.Add(m => m.MachineName).Sortable(true).Filterable(true).Titled("Machine");
               columns.Add(m => m.Dimension1Name).Sortable(true).Filterable(true).Titled("Shade");
               columns.Add().Sanitized(false).Encoded(false).RenderValueAs(m => CustomHelpers.RenderStatus(m.Status)).Titled("Status");
               columns.Add().Titled("").Encoded(false).Sanitized(false).RenderValueAs(m => CustomHelpers.RenderUserImage(m.ModifiedBy)).Titled("User").SetWidth("5%").Css("UserImageIndex");
               columns.Add().Encoded(false).Sanitized(false).RenderValueAs(m => CustomHelpers.RenderActionColumn(ControllerName, m.JobReceiveHeaderId, m.Status, m.Reviewed, m.ReviewCount, (string)ViewBag.IndexStatus)).SetWidth(20).Css("icon-Cus-Size");
               columns.Add(true).RenderValueAs(m => CustomHelpers.RenderHEDActionLink(ControllerName, m.JobReceiveHeaderId, m.Status, IndexStatus));
           }).WithPaging(25).EmptyText("No records found.")
    </div>
</div>