@model List<Model.ViewModel.ImportErrors>
@{
    ViewBag.Title = "FinishingOrderCancelTextImport";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Finishing Order Cancel Import</h2>

<p style="font:bold"><b>Check These Fields</b> </p>
@{
    string StoreDomain = @System.Configuration.ConfigurationManager.AppSettings["StoreDomain"];
    //@*<ul>
    //    <p style="font:bold">@ViewBag.Error</p>
    //</ul>*@
}

@foreach (var item in Model)
{
    <div>
        @Html.DisplayFor(modelItem => item.ErrorText) :

        @foreach (string BC in item.BarCodes.Split(',').ToList())
        {

            string url = StoreDomain + "/BarCodeHistory/Index?ProductUid=" + BC.Replace(" ", "");

            <a href="@url" target="_blank">@BC,</a>

        }


    </div>

}


@Html.ActionLink("Go Back", "Index", "FinishingOrderCancelTextImport", new { @id = ViewBag.id }, new { @class = "btn btn-primary btn-sm col-md-offset-0 CurveBorder ActionLinkPadding" })
@Html.ActionLink("Continue", "Continue", "FinishingOrderCancelTextImport", new { @id = ViewBag.id }, new { @class = "btn btn-primary btn-sm col-md-offset-0 CurveBorder ActionLinkPadding" })


