@using Core.Common;
@using Model.ViewModels;
@using GridMvc.Html;
@model IQueryable<Model.ViewModels.PackingHeaderViewModel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";

    string ControllerName = (string)ViewContext.RouteData.Values["controller"];
    string IndexStatus = (string)ViewBag.IndexStatus;

}

@helper RenderActionColumn(PackingHeaderViewModel s)
{
    if (s.Status == (int)StatusConstants.Submitted || s.Status == (int)StatusConstants.ModificationSubmitted || s.Status == (int)StatusConstants.Approved)
    {
        <p class="Badge_Cont">
            <a class="glyphicon glyphicon-thumbs-up" data-toggle="tooltip" href="/PackingHeaderWithBuyerDetail/Review?Id=@s.PackingHeaderId&IndexType=@(ViewBag.IndexStatus)" title="Review"> </a>
            <span class="IndexBadges label @(s.Reviewed==true ? "label-success" : "label-danger")">@s.ReviewCount</span>
        </p>
    }
    if (s.Status == (int)StatusConstants.Drafted || s.Status == (int)StatusConstants.Modified)
    {
        @Html.ActionLink(" ", "Submit", "PackingHeaderWithBuyerDetail", new { id = s.PackingHeaderId, IndexType = ViewBag.IndexStatus }, new { @class = "glyphicon glyphicon-floppy-open", @title = " Submit", @data_toggle = "tooltip" });

    }
}
@helper RenderStatus(Model.ViewModels.PackingHeaderViewModel s)
{
    if (s.Status == (int)StatusConstants.Submitted || s.Status == (int)StatusConstants.Approved)
    {
        @Html.Raw("Submitted");
    }
    else if (s.Status == (int)StatusConstants.Drafted)
    {
        @Html.Raw("Drafted")}
    else if (s.Status == (int)StatusConstants.Modified)
    {
        @Html.Raw("Modified")
    }
    else if (s.Status == (int)StatusConstants.Complete)
    {
        @Html.Raw("Completed")
    }
    else if (s.Status == (int)StatusConstants.ModificationSubmitted)
    {
        @Html.Raw("Modification Submitted")
    }
}

@helper RenderUserImage(string Name)
{
    string Defaultdomain = (System.Configuration.ConfigurationManager.AppSettings["ProfilePic"]);
    string ImgSrc = Defaultdomain + Name + ".jpg";
    <div>
        <img src="@ImgSrc" class="img-circle UserIndexImage" title="@Name" />
    </div>
}

<!-- modal placeholder-->
<div id='myModal' class='modal fade in'>
    <div class="modal-dialog">
        <div class="modal-content">
            <div id='myModalContent'></div>
        </div>
    </div>
</div>


<div class="panel panel-default">
    <div class="panel-heading">
        <h3>
            <span style="font-family: Calibri,sans-serif,Verdana;font-weight:bold" class="black"><span class="glyphicon glyphicon-list black"></span> Packing List</span>
        </h3>
        <hr style="margin-top:0px;margin-bottom:0px" />

        <div class="panel-info">
            <div class="btn-group">
                @Html.ActionLink(" ", "Create", "PackingHeaderWithBuyerDetail", null, new { @class = "cbtn btn-circle glyphicon glyphicon-plus toolbar", @title = "Add New", @data_toggle = "tooltip" })
                @Html.ActionLink(" ", "Print", "PackingHeaderWithBuyerDetail", null, new { @class = "cbtn btn-circle glyphicon glyphicon-print toolbar", @title = "Print", @data_toggle = "tooltip", @id = "PrintRecord", target = "_blank" })               
                @Html.ActionLink(" ", "Remove", "PackingHeaderWithBuyerDetail", null, new { @class = "cbtn btn-circle glyphicon glyphicon-trash toolbar", @title = "Delete", @data_toggle = "tooltip", @id = "DeleteRecord", @data_modal = "" })

            </div>
            <div class="btn-group">
                <a class="cbtn btn-circle glyphicon glyphicon-option-horizontal dropdown-toggle" aria-expanded="false" style="padding-top: 6px;padding-bottom: 6px;" href="#" data-toggle="dropdown" id="dropdownMenu1">
                </a>
                <ul class="dropdown-menu pull-right" aria-labelledby="dropdownMenu1">
                    <li><a  href="@Url.Action("Import", "PackingHeaderWithBuyerDetail", new { @id = @ViewBag.id })"><span class="glyphicon glyphicon-import"> </span>&nbsp;&nbsp;Import</a></li>
                    <li><a  href="@Url.Action("PackingSegmentation", "PackingHeaderWithBuyerDetail", new { })"><span class="glyphicon glyphicon-import"> </span>&nbsp;&nbsp;Segmentation</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a target="_blank" href="@Url.Action("Report", "PackingHeaderWithBuyerDetail", new { @ViewBag.id })"><span class="glyphicon glyphicon-stats"> </span>&nbsp;&nbsp;Report</a></li>
                </ul>
            </div>
            <div class="btn-group right">
                @CustomHelpers.RenderIconStatusFilters(ViewBag.PendingToSubmit, ViewBag.PendingToReview, ControllerName, ViewBag.id, ViewBag.IndexStatus)
            </div>
        </div>
    </div>

    <div class="panel-info" style="padding-left:5px;padding-top:2px">
        @Html.Grid(Model).Columns(columns =>
   {
       columns.Add(m => m.PackingHeaderId, true);
       columns.Add(m => m.Status, true);
       columns.Add(foo => foo.DocDate).Sortable(true).Titled("Packing Date").Format("{0:dd/MMM/yyyy}").Filterable(true);
       columns.Add(m => m.DocNo).Sortable(true).Titled("Packing No.").Filterable(true).Sortable(true);
       columns.Add(m => m.BuyerName).Titled("Buyer").Filterable(true).Sortable(true);
       columns.Add(m => m.Remark).Sortable(true).Filterable(true).Titled("Remark");
       columns.Add().RenderValueAs(m => CustomHelpers.RenderTotal(m.TotalQty, m.DecimalPlaces)).Sanitized(false).Encoded(false).Titled("Total Qty");
       columns.Add().Sanitized(false).Encoded(false).RenderValueAs(m => RenderStatus(m)).Titled("Status");
       columns.Add().Titled("").Encoded(false).Sanitized(false).RenderValueAs(m => RenderUserImage(m.ModifiedBy)).Titled("User").SetWidth("5%").Css("UserImageIndex");
       columns.Add().Encoded(false).Sanitized(false).RenderValueAs(m => RenderActionColumn(m)).SetWidth(20).Css("icon-Cus-Size");

       columns.Add(true).RenderValueAs(m => CustomHelpers.RenderHEDActionLink(ControllerName, m.PackingHeaderId, m.Status, IndexStatus));
   }).WithPaging(25).EmptyText("No records found.")
    </div>

</div>




<script type="text/javascript">

    var RecStatus = '@ViewBag.IndexStatus';

    $('table.grid-table td').dblclick(function () {
        var $this = $(this);
        var row = $this.closest("tr");
        var editid = row.find('[data-name="PackingHeaderId"]').text();
        var Status = row.find('[data-name="Status"]').text();
        var url;
        if (Status == StatusContstantsEnum.Drafted) {
            url = '@Url.Action("Modify", "PackingHeaderWithBuyerDetail")' + "?Id=" + editid + "&IndexType=" + RecStatus;
        }
        else if (Status == StatusContstantsEnum.Submitted || Status == StatusContstantsEnum.Modified) {
            url = '@Url.Action("ModifyAfter_Submit", "PackingHeaderWithBuyerDetail")' + "?Id=" + editid + "&IndexType=" + RecStatus;
        }
        else if (Status == StatusContstantsEnum.Approved) {
            url = '@Url.Action("ModifyAfter_Approve", "PackingHeaderWithBuyerDetail")' + "?Id=" + editid + "&IndexType=" + RecStatus;
        }
        else {
            url = '@Url.Action("DetailInformation", "PackingHeaderWithBuyerDetail")' + "/" + editid;
        }
        window.location.href = url;
    });

    //To focus on the first element on modal load
    $('#myModal').on('shown.bs.modal', function () {
        $("#Reason").focus();
    });


    $('a#DeleteRecord').click(function (e) {
        var $row = $('table.grid-table .grid-row.grid-row-selected');
        var editiiid = $row.find('[data-name="PackingHeaderId"]').text();
        if (!$('table.grid-table .grid-row.grid-row-selected').get(0)) {
            e.stopImmediatePropagation();
            return false;
        }
        var url = '@Url.Action("Remove", "PackingHeaderWithBuyerDetail")' + "/" + editiiid;
        $(this).attr('href', url);
        //alert(url);
        return;
    })

    $('a#PrintRecord').click(function (e) {
        var $row = $('table.grid-table .grid-row.grid-row-selected');
        var editid = $row.find('[data-name="PackingHeaderId"]').text();
        if (!$('table.grid-table .grid-row.grid-row-selected').get(0)) {
            e.stopImmediatePropagation();
            return false;
        }
        var Status = $('table.grid-table .grid-row.grid-row-selected').find('[data-name="Status"]').text();
        var url;
        if (Status == StatusContstantsEnum.Drafted) {
            url = '@Url.Action("Print", "PackingHeaderWithBuyerDetail")' + "/" + editid;
        }
        else if (Status == StatusContstantsEnum.Submitted || Status == StatusContstantsEnum.Modified || Status == StatusContstantsEnum.ModificationSubmitted || Status == StatusContstantsEnum.Approved) {
            url = '@Url.Action("PrintAfter_Submit", "PackingHeaderWithBuyerDetail")' + "/" + editid;
        }
        else if (Status == StatusContstantsEnum.Approved) {
            url = '@Url.Action("PrintAfter_Approve", "PackingHeaderWithBuyerDetail")' + "/" + editid;
        }
        //alert(url);
        $(this).attr('href', url);
        return;
    })
    $('a#Detail').click(function (e) {
        var $row = $('table.grid-table .grid-row.grid-row-selected');
        var editiiid = $row.find('[data-name="PackingHeaderId"]').text();
        if (!$('table.grid-table .grid-row.grid-row-selected').get(0)) {
            e.stopImmediatePropagation();
            return false;
        }
        var url = '/PackingHeaderWithBuyerDetail/DetailInformation/' + editiiid;
        $(this).attr('href', url);
        return;
    })

</script>

@if (ViewBag.IndexStatus != null)
{
    if (ViewBag.IndexStatus == "All")
    {
        <script type="text/javascript">
            $("#StatusFilter > button#All").focus();
        </script>
    }
    else if (ViewBag.IndexStatus == "PTR")
    {
        <script type="text/javascript">
            $("#StatusFilter > button#PTR").focus();
        </script>
    }
    else if (ViewBag.IndexStatus == "PTS")
    {
        <script type="text/javascript">
            $("#StatusFilter > button#PTS").focus();
        </script>
    }
}


<script type="text/javascript">

    var DocId = '@ViewBag.id';
    var AURL = '@Url.Action("Index", "PackingHeaderWithBuyerDetail", new { id = ViewBag.id })';
    var PTRurl = '@Url.Action("Index_PendingToReview", "PackingHeaderWithBuyerDetail", new { id = ViewBag.id })';
    var PTSurl = '@Url.Action("Index_PendingToSubmit", "PackingHeaderWithBuyerDetail", new { id = ViewBag.id })';
    $(document).on("click", "#StatusFilter > button", function () {
        var t = $(this);
        var Id = t.attr("id");
        var URL = window.location.href;
        if (Id == "All") {
            window.location.href = AURL;
        }
        else if (Id == "PTS") {
            window.location.href = PTSurl;
        }
        else if (Id == "PTR") {
            window.location.href = PTRurl;
        }

    })


</script>

<script type="text/javascript">
    $(document).ready(function () {
        enableModalTransitions();
    })
</script>