@model Surya.India.Model.ViewModels.PurchaseGoodsReceiptLineViewModel

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="panel panel-default">
    <div class="panel-heading">
        <h4>
            <span style="font-family: Calibri,sans-serif,Verdana"> Delete Purchase Goods Receipt Line.</span>
        </h4>
    </div>
    <div class="panel-info" style="padding-left:15px;padding-top:15px">
        <div>            
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.ProductName)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.ProductName)
                </dd>
              
                <dt>
                    @Html.DisplayNameFor(model => model.Qty)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Qty)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.CreatedBy)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.CreatedBy)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.CreatedDate)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.CreatedDate)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.ModifiedBy)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.ModifiedBy)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.ModifiedDate)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.ModifiedDate)
                </dd>
             
            </dl>
            <hr />
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="form-actions no-color">
                    <input type="submit" value="Delete" class="btn btn-primary btn-sm CurveBorder" /> 
                    <span style="font-family: Calibri,sans-serif,Verdana;font-size:large">
                       @Html.ActionLink("Back", "Index", new { Id = @Model.PurchaseGoodsReceiptHeaderId }, new { @class="btn btn-primary btn-sm col-md-offset-1 CurveBorder ActionLinkPadding"})
                    </span>                   
                </div>
            }
        </div>
    </div>
</div>