@model Model.ViewModel.LedgerHeaderViewModel

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- modal placeholder-->
<div id='myModal' class='modal fade in'>
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div id='myModalContent'></div>
        </div>
    </div>
</div>

@using (Html.BeginForm("Post", "PaymentVoucherHeader", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(m=>m.SiteId)
    @Html.HiddenFor(m=>m.DivisionId)
        @Html.HiddenFor(m=>m.LedgerHeaderId)
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3>
                <span style="font-family: Calibri,sans-serif,Verdana;font-weight:bold" class="black"> <span class="glyphicon glyphicon-file black"></span>Payment Voucher</span>
                <input type="submit" value="Save" class="btn btn-primary right" id="submit" style="width: 90px; background-color: #2980b9" />                
            </h3>            
        
            <hr style="margin-top:0px;margin-bottom:0px" />

            <div class="panel-info">
                <h4 style="padding:5px 0 0 0;margin:0px">
                    @Html.ActionLink(" ", " ", " ", null, new { @class = "glyphicon glyphicon-refresh toolbar", @title = "Refresh Page", @data_toggle = "tooltip", @id = "RefreshPage" })
                    @Html.ActionLink(" ", "Create", "PaymentVoucherHeader", null, new { @class = "glyphicon glyphicon-plus toolbar", @title = "Add New", @data_toggle = "tooltip" })
                    @Html.ActionLink(" ", "History", "PaymentVoucherHeader", null, new { @class = "glyphicon glyphicon-user toolbar", @title = "History", @data_toggle = "tooltip" })
                    @Html.ActionLink(" ", "Print", "PaymentVoucherHeader", new { id = @Model.LedgerHeaderId }, new { @class = "glyphicon glyphicon-print toolbar", @title = "Print", @data_toggle = "tooltip" })
                    @Html.ActionLink(" ", "Email", "PaymentVoucherHeader", null, new { @class = "glyphicon glyphicon-envelope toolbar", @title = "Email", @data_toggle = "tooltip" })
                    @Html.ActionLink(" ", "PrevPage", "PaymentVoucherHeader", new { id = @Model.LedgerHeaderId }, new { @class = "glyphicon glyphicon-arrow-left toolbar", @title = "Prev Record", @data_toggle = "tooltip" })
                    @Html.ActionLink(" ", "NextPage", "PaymentVoucherHeader", new { id = @Model.LedgerHeaderId }, new { @class = "glyphicon glyphicon-arrow-right toolbar", @title = "Next Record", @data_toggle = "tooltip" })                    
                    @Html.ActionLink(" ", "Index", "PaymentVoucherHeader", null, new { @class = "glyphicon glyphicon-list toolbar right", @title = "List", @data_toggle = "tooltip" })
                    @Html.ActionLink(" ", "Report", "PaymentVoucherHeader", null, new { @class = "glyphicon glyphicon-th toolbar right", @title = "Report", @data_toggle = "tooltip" })
                </h4>
            </div>
        </div>
        <div class="panel-info" style="padding-left:15px">
            <div class="form-horizontal">                
                @Html.ValidationSummary(true)

                <div class="row">
                    <h4 class="col-md-12 black">
                        <span class="glyphicon glyphicon-align-justify"></span>
                        1.Document Details
                    </h4> 
                    <div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group" style="margin-top:15px">
                                    @Html.LabelFor(model => model.DocTypeId, "Voucher Type", new { @class = "control-label col-xs-4" })
                                    <div class="col-xs-6">
                                        @Html.DropDownListFor(model => model.DocTypeId, new SelectList(ViewBag.DocTypeList as System.Collections.IEnumerable, "DocumentTypeId", "DocumentTypeName"), new { @class = "form-control col-xs-6 height required" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group" style="margin-top:15px">
                                    @Html.LabelFor(model => model.DocNo, "Voucher No", new { @class = "control-label col-xs-4" })
                                    <div class="col-xs-6">
                                        @Html.TextBoxFor(m => m.DocNo, null, new { @class = "form-control col-xs-6 required" })
                                        @Html.ValidationMessageFor(m => m.DocNo, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                                                   
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.DocDate, "Voucher Date", new { @class = "control-label col-xs-4" })
                                    <div class="col-xs-6">
                                        @Html.TextBoxFor(m => m.DocDate, "{0:dd/MMMM/yyyy}", new { @class = "datepickerWithNFD form-control col-xs-6 required" })
                                        @Html.ValidationMessageFor(model => model.DocDate, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>   
                            <div class="col-md-6">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.LedgerAccountId, "Debit A/C", new { @class = "control-label col-xs-4" })
                                    <div class="col-xs-6">
                                        @Html.TextBoxFor(m => m.LedgerAccountId, null, new { @class = "form-control col-xs-6 required" })
                                        @Html.ValidationMessageFor(m => m.LedgerAccountId, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>                                                 
                        </div>                 
                    
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.Narration, "Narration", new { @class = "control-label col-xs-4" })
                                    <div class="col-xs-6">
                                        @Html.TextAreaFor(m => m.Narration, new { @class = "form-control col-xs-6" })
                                        @Html.ValidationMessageFor(m => m.Narration, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>               


                <hr />
                <div class="row">
                    <h4 class="col-md-12 black" style="margin-top:15px">
                        <span class="glyphicon glyphicon-shopping-cart"></span>
                        2.Products
                    </h4>
                </div>

                <div class="panel-info">
                    <h5 style="padding:5px 0 3px 0;margin:0px;font-weight:bold">
                        <span class="glyphicon glyphicon-plus-sign"></span>
                        @Html.ActionLink("Add New Row ", "_Create", "PaymentVoucherLine", new { id = @Model.LedgerHeaderId, Laid = @Model.LedgerAccountId }, new { data_modal = "", id = "btnCreate", @class = "toolbar", @title = "Add New", @data_toggle = "tooltip" })
                    </h5>
                </div>
                <div style="padding-right:15px">


                    <div class="panel panel-default" id="grid">
                        <div class="panel-heading headrow" style="background-image: -webkit-linear-gradient(top, #428bca 0%, #428bca 100%);color:white">
                            <div class="row grid-head">
                                <div class="col-xs-1 text-left">
                                    Srl.                                   
                                </div>
                                <div class="col-xs-10">
                                    <div class="row">
                                        @*ProductInfo*@
                                        <div class="col-sm-2">
                                           Credit A/C
                                           
                                        </div>
                                        @*Qty*@
                                        <div class="col-sm-3 ">
                                            Cost Center                                     
                                        </div>
                                        @*Rate*@
                                        <div class="col-sm-2">
                                            Narration
                                        </div>
                                        @*Amount*@
                                        <div class="col-sm-2 text-right">
                                            Amount Cr
                                        </div>
                                        @*Remark*@
                                        <div class="col-sm-2">
                                            Cheque No
                                           
                                        </div>
                                        <div class="col-sm-1">
                                            Cheque Date
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-1">

                                </div>
                            </div>

                        </div>
                        <div class="panel-info" id="gbody">
                           
                            
                        </div>
                    </div> 
                </div>
            </div>
        </div>
    </div>
}

<script type="text/javascript">

    CustomSelectFunction($("#LedgerAccountId"), '/ComboHelpList/GetAccount', '/ComboHelpList/SetSingleAccount', ' ', false, 1);    

</script>

<script type="text/javascript">
    var form_clean;
    $(document).ready(function () {
        //Calling the function to load the table data/ Line information
        var id=@Model.LedgerHeaderId;
        if(id>0)
        LoadProducts();      
    });

    //For Populating Modal PopUp on DoubleClick Of Row
    $('#gbody').on("dblclick",'.grid-body',function(){
        var text = $(this).find(".id").val();
        var editurl=$(this).find('a[delete]').attr('href');
        $('#myModalContent').load(editurl, function () {
            //alert('2');
            $('#myModal').modal({
                backdrop: 'static',
                keyboard: true
            }, 'show');

            bindForm1(this);
        });
    });

    $('#gbody').on("click",'.grid-body',function(){

    });

    //For Handling Modal PopUp on Clicking Delete Icon
    $('#gbody').on("click",'a[delete]', function (e) {
        $('#myModalContent').load(this.href, function () {
            //alert('2');
            $('#myModal').modal({
                backdrop: 'static',
                keyboard: true
            }, 'show');

            bindForm1(this);
        });
        return false;
    });


    var id=@Model.LedgerHeaderId;
    if(id==null||id==0)
    {
        $(document).find('a#btnCreate').removeAttr('href').removeAttr('data-modal');
        $("#btnCreateF").attr('disabled','disabled');

    }



    //Reloading the table contents on modal hide
    $('#myModal').on('hidden.bs.modal', function () {
        LoadProducts();
    });


    //To focus on the first element on modal load
    $('#myModal').on('shown.bs.modal', function () {
        $("#ProductId").select2("focus");
    });


   



    function LoadProducts() {
        var groupId=@Model.LedgerHeaderId;
        var link="/PaymentVoucherLine/Index/"+groupId;
        var AmountCount=0;
        var unit=true;
        var prevunit;
        var decimal=0;
        $.ajax({
            url: link,
            type: "GET",
            success: function (data) {
                var row = ""
                var srno=1;
                
                if(data.length!=0)
                {
                    $.each(data, function (index, item) {
                        row += " <div class='row crow grid-body' style='margin-left:0px;margin-right:0px'><div class='col-xs-1 row-index'>"+srno+"<input type='hidden' class='id' value='"+item.LedgerId+"' /></div><div class='col-xs-10'><div class='row'><div class='col-sm-2'>"+(item.LedgerAccountName==null?" ":"<strong>"+item.LedgerAccountName+"</strong>")+"<div>  </div></div><div class='col-sm-3'>"+(item.CostCenterName==null?" ":item.CostCenterName)+"</div>   <div class='col-sm-2'>"+(item.Narration==null?" ":item.Narration)+"</div><div class='col-sm-2 text-right'>"+(item.AmtDr==null?" ":item.AmtDr.toFixed(2))+"</div><div class='col-sm-2'>"+(item.ChqNo==null?" ":item.ChqNo)+"</div>  <div class='col-sm-1 text-right'>"+(item.ChequeData==null?" ":formatDate('d/m/Y',new Date(parseInt(item.ChequeDate.substr(6)))))+"</div></div></div><div class='col-xs-1'><a class='glyphicon glyphicon-trash icon-Cus-Size' delete='' href='/Ledger/_Edit/"+item.LedgerId+"'></a></div></div><hr style='margin-top:0px;margin-bottom:0px'/></div>";
                        AmountCount+=item.AmtDr;                                               
                        srno++;
                       
                    });
                    row+="<div class='row tfooter' style='padding-top:10px;'><div class='col-xs-1'></div><div class='col-xs-10'><div class='row'>  <div class='col-sm-2'><strong>Total</strong></div><div class='col-sm-3 text-right'> </div> <div class='col-sm-2 text-right'></div><div class='col-sm-2 text-right'><strong>"+AmountCount.toFixed(2)+"</strong></div><div class='col-sm-2'></div><div class='col-sm-1'></div></div></div><div class='col-xs-1'></div></div>"                  

                    $('#DocNo').attr('readonly','true');
                }
                else
                {
                    ;
                }
                $("#gbody").html(row);
                
            },
            error: function (result) {
                alert("Error");
            }
        });
    }


    //For posting the data through ajax and render the contents sent back from the server
    function bindForm1(dialog) {
        //alert("binding");
        $('form#modform', dialog).submit(function () {
            //alert(this.action);
            $.ajax({
                url: this.action,
                type: this.method,
                data: $(this).serialize(),
                success: function (result) {
                    if (result.success) {
                        $('#myModal').modal('hide');
                        //Refresh
                        //location.reload();
                        //alert('Data Saved');
                    }else if(!result.success)
                    {
                        $('#myModalContent').html(result);
                        bindForm1();
                    }
                    else {
                        $('#myModalContent').html(result);
                        bindForm1();
                    }
                }
            });
            return false;
        });

    }

</script>