@model IEnumerable<AdminSetup.Controllers.UserRolesViewModel>
@using GridMvc.Html
@{
    ViewBag.Title = "User Role mapping";
}

<div class="panel panel-default">

    <div class="panel-heading">
        <h3>
            <span style="font-family: Calibri,sans-serif,Verdana;font-weight:bold" class="black"><span class="glyphicon glyphicon-list black"></span> Users List</span>
        </h3>
        <hr style="margin-top:0px;margin-bottom:0px" />
        <div class="panel-info">
            <h4 style="padding:5px 0 0 0;margin:0px">
                @Html.ActionLink(" ", " ", " ", null, new { @class = "glyphicon glyphicon-refresh toolbar", @title = "Refresh Page", @data_toggle = "tooltip", @id = "RefreshPage" })
                @Html.ActionLink(" ", "Create", "UsersAdmin", null, new { @class = "glyphicon glyphicon-plus toolbar", @title = "Add New", @data_toggle = "tooltip" })
                @Html.ActionLink(" ", "Sync", "UsersAdmin",null , new { @class = "glyphicon glyphicon-refresh toolbar right", @title = "Sync", @data_toggle = "tooltip"})
            </h4>
        </div>

    </div>
    <div class="panel-info" style="padding-left:5px;padding-top:2px">
        @*<p>
                @Html.ActionLink("Create New", "Create")
            </p>*@

        @Html.Grid(Model).Columns(columns =>
           {
               columns.Add(foo => foo.Id, true);
               columns.Add(foo => foo.UserName).Titled("Name").Filterable(true).Sortable(true).SetWidth(30);
               columns.Add(foo => foo.Roles).Sortable(true).Titled("User Roles").Filterable(true).SetWidth(80);
               columns.Add(foo => foo.Email).Sortable(true).Titled("Email").Filterable(true).SetWidth(30);

           }).WithPaging(25).EmptyText("No records found.")

    </div>
</div>


<script type="text/javascript">

    $('table.grid-table td').dblclick(function () {
        var $this = $(this);
        var row = $this.closest("tr");
        var editid = row.find('[data-name="Id"]').text();
        var url = '@Url.Action("UserRoles", "UsersAdmin")' + "/" + editid;
        window.location.href = url;

    });

    $('#myModal').on('shown.bs.modal', function () {
        $("#Reason").focus();
    });

</script>
