@model IEnumerable<Model.Models.ProductSampleShipment>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Scripts/jquery.fancybox.js"></script>
<link href="~/Content/jquery.fancybox.css" rel="stylesheet" />
@helper RenderImage(Model.Models.ProductSampleShipment h)
{
    byte[] photo = h.ProductSamplePhotoApproval.ProductSample.ProductPicture;

    string imageSrc = null;
    if (photo != null)
    {
        MemoryStream ms = new MemoryStream();
        ms.Write(photo, 0, photo.Length); // strip out 78 byte OLE header (don't need to do this for normal images)
        string imageBase64 = Convert.ToBase64String(ms.ToArray());
        imageSrc = string.Format("data:image/gif;base64,{0}", imageBase64);
    }
    <a class="fancybox" rel="gallery1" href="@imageSrc" title="@h.ProductSamplePhotoApproval.ProductSample.SampleName,@h.ProductSamplePhotoApproval.ProductSample.Supplier.Name">
        <img src="@imageSrc" alt="" style="max-height:100px;max-width:100px" />
    </a>
}
<div class="panel panel-default" style="padding:5px">

    <div class="panel panel-heading">

        <h4>
            <span style="font-family: Calibri,sans-serif,Verdana">Physical Samples Pending To Review.</span>
        </h4>

    </div>
    <div class="panel panel-info" style="padding:15px">

        <div class="form-horizontal">
            <div class="form-group">

           @Html.Grid(Model).Columns(columns =>
           {
               columns.Add(foo => foo.ProductSamplePhotoApproval.ProductSample.ProductSampleId).Titled("Application Number").Sortable(true).Filterable(true).SetWidth(100);
               columns.Add(foo => foo.ProductSampleShipmentId, true);
               columns.Add(foo => foo.ProductSamplePhotoApproval.ProductSample.SampleName).Sortable(true).Titled("Sample").Filterable(true).SetWidth(100).Css("modal-link");
               columns.Add(foo => foo.ProductSamplePhotoApproval.ProductSample.SampleDescription).Titled("Description").Sortable(true).Filterable(true).SetWidth(100);
               columns.Add(m => m.ProductSamplePhotoApproval.ProductSample.Supplier.Name).Titled("Supplier").Sortable(true).Filterable(true).SetWidth(100);
               columns.Add(foo => foo.ShipDate).Titled("Ship Date").SetWidth(100);
               //columns.Add().Encoded(false).Sanitized(false).Titled("Sample Picture").RenderValueAs(ad => @<img class="thumb" src="data:image;base64,@System.Convert.ToBase64String(ad.ProductSamplePhotoApproval.ProductSample.ProductPicture)" height="100" width="100" alt="PicTemp" />).SetWidth(100); ;
               columns.Add().Sanitized(false).Encoded(false).RenderValueAs(m => RenderImage(m)).SetWidth(100).Titled("Product Picture");
               columns.Add(foo => foo.ProductSamplePhotoApproval.Remark).Titled("Approval Remark").Sortable(true).Filterable(true).SetWidth(100);
               columns.Add().Encoded(false).Sanitized(false).SetWidth(100).RenderValueAs(d => @Html.ActionLink("See all images", "FullImageView", new { id = d.ProductSamplePhotoApproval.ProductSample.ProductSampleId, redirect = "ListPhysicalSamplePendingToReview" }, new { @class = "viewDialog" }));
               columns.Add().Encoded(false).Sanitized(false).SetWidth(100).RenderValueAs(d => @Html.ActionLink("Review", "PhysicalSampleShipmentReviewByQA", new { id = d.ProductSampleShipmentId }, null));

           }).WithPaging(25).EmptyText("No records found.")

            </div>

        </div>

    </div>
</div>



<div id="dialog-ViewImage" style="display: none">
</div>

@*<script type="text/javascript">
    $(document).ready(function () {
        $(".viewDialog").bind("click", function (e) {
            var url = $(this).attr('href');
            $("#dialog-ViewImage").dialog({
                title: 'Sample',
                autoOpen: false,
                resizable: false,
                height: 700,
                width: 500,
                show: { effect: 'drop', direction: "up" },
                modal: true,
                draggable: true,
                open: function (event, ui) {
                    $(this).load(url);
                }, 
                close: function (event, ui) {
                    $(this).dialog('close');
                }
            });
            $("#dialog-ViewImage").dialog('open');
            return false;
        });
    });

</script>*@
<script type="text/javascript">
    $(document).ready(function () {
        $(".fancybox").fancybox({
            helpers: {
                overlay: {
                    css: {
                        'background': 'rgba(58, 42, 45, 0.95)'
                    }
                }
            }
        });
    });
</script>