@model Model.ViewModel.MaterialPlanCancelLineListViewModel
@using Core.Common

<style type="text/css">
    #tbody {
        height: 250px;
        overflow-y: scroll;
        width: 100%;
    }

    #gbody-modal {
        height: 250px;
        overflow-y: scroll;
        width: 100%;
    }

    tbody td {
        padding: 2px 2px 2px 2px;
    }

    .textRight {
        text-align: right;
    }
    /*th div{
        position:absolute;
    }*/
</style>

<div class="modal-content">
    <div class="modal-header" style="border-bottom: 1px solid #8E8888">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"> <span class="glyphicon glyphicon-remove"></span></button>
        <h3>
            <span style="font-family: Calibri,sans-serif,Verdana;font-weight:bold" class="black"><span class="glyphicon glyphicon-file black"></span> Planning & Quantities</span>
        </h3>
    </div>
    <div>
        @using (Html.BeginForm("_ResultsPostProduction", "MaterialPlanCancelLine", FormMethod.Post, new { enctype = "multipart/form-data", id = "modform" }))
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal modal-body">

                <div style="padding-right:15px">
                    <div class="row">

                        <div class="form-horizontal">
                            @Html.ValidationSummary(true)

                            <div class="panel panel-default" id="grid">
                                <div class="panel-heading headrow" style="background-image: -webkit-linear-gradient(top, #428bca 0%, #428bca 100%);color:white">
                                    <div class="row grid-head">
                                        <div class="block text-left" style="width:5%">
                                            Srl.
                                        </div>
                                        <div class="block" style="width:92%">
                                            <div class="row">
                                                @*ProductInfo*@
                                                <div class="block" style="width:35%">
                                                    Product Name
                                                </div>
                                                @*Qty*@
                                                <div class="block" style="width:25%">
                                                    Plan No
                                                </div>
                                                <div class="block" style="width:10%">
                                                    Unit
                                                </div>
                                                <div class="text-right block" style="width:15%">
                                                    Balance<br />Qty
                                                </div>
                                                @*Amount*@
                                                <div class="block text-right" style="width:15%">
                                                    <a href="#" id="ToCancel" style="color:white">Cancel Qty</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <div class="panel-info" id="gbody-modal">
                                    @{decimal BalanceCount = 0;}
                                    @for (int i = 0; i < Model.MaterialPlanCancelLineViewModel.Count(); i++)
                                    {




                                        <div class='row crow grid-body' style='margin-left:0px;margin-right:0px'>


                                            <div class='block row-index' style='width:5%'>
                                                @Html.HiddenFor(m => m.MaterialPlanCancelLineViewModel[i].MaterialPlanCancelHeaderId)
                                                @Html.HiddenFor(m => m.MaterialPlanCancelLineViewModel[i].MaterialPlanCancelHeaderDocNo)
                                                @Html.HiddenFor(m => m.MaterialPlanCancelLineViewModel[i].MaterialPlanLineId)
                                                @Html.HiddenFor(m => m.MaterialPlanCancelLineViewModel[i].ProductName)
                                                @Html.HiddenFor(m => m.MaterialPlanCancelLineViewModel[i].ProductId)
                                                @Html.HiddenFor(m => m.MaterialPlanCancelLineViewModel[i].BalanceQty)
                                                @Html.HiddenFor(m => m.MaterialPlanCancelLineViewModel[i].UnitName)
                                                @Html.HiddenFor(m => m.MaterialPlanCancelLineViewModel[i].unitDecimalPlaces, new { @class = "UDec" })
                                                @Html.HiddenFor(m => m.MaterialPlanCancelLineViewModel[i].Specification)
                                                @(i + 1)
                                            </div>
                                            <div class='block pull-middle' style='width:94%'>

                                                <div class='row'>

                                                    <div class='block' style='width:35%'>
                                                        <strong> @Model.MaterialPlanCancelLineViewModel[i].ProductName</strong>
                                                        <p style="margin-bottom:0px">
                                                            @{
                                        var Dim1 = (string.IsNullOrEmpty(Model.MaterialPlanCancelLineViewModel[i].Dimension1Name) || Model.MaterialPlanSettings.isVisibleDimension1 == false) ? "" : Model.MaterialPlanCancelLineViewModel[i].Dimension1Name + ",";
                                        var Dim2 = (string.IsNullOrEmpty(Model.MaterialPlanCancelLineViewModel[i].Dimension2Name) || Model.MaterialPlanSettings.isVisibleDimension2 == false) ? "" : Model.MaterialPlanCancelLineViewModel[i].Dimension2Name;
                                        var Spec = (string.IsNullOrEmpty(Model.MaterialPlanCancelLineViewModel[i].Specification)) ? "" : Model.MaterialPlanCancelLineViewModel[i].Specification;
                                        var Processname = (string.IsNullOrEmpty(Model.MaterialPlanCancelLineViewModel[i].ProcessName) || Model.MaterialPlanSettings.isMandatoryProcessLine == false) ? "" : Model.MaterialPlanCancelLineViewModel[i].ProcessName;
                                                            }

                                                            @Dim1 @Dim2
                                                        </p>
                                                        <p>@Spec</p>
                                                        <p style="margin-bottom:0px">
                                                            @Processname
                                                        </p>
                                                    </div>
                                                    <div>
                                                        <div class='block' style='width:25%'>
                                                            @(Model.MaterialPlanCancelLineViewModel[i].MaterialPlanDocNo)
                                                        </div>
                                                        <div class='block' style='width:10%'>
                                                            @(Model.MaterialPlanCancelLineViewModel[i].UnitName)
                                                        </div>
                                                        <div class='block text-right' style='width:15%'>
                                                            <a href="#" class="ToCancel" style="color:black">
                                                                <span id="BalanceQty">
                                                                    @(Model.MaterialPlanCancelLineViewModel[i].BalanceQty)
                                                                </span>
                                                            </a>
                                                            @{BalanceCount += Model.MaterialPlanCancelLineViewModel[i].BalanceQty;}
                                                        </div>
                                                        <div class='block text-right pull-middle' style='width:15%'>
                                                            @Html.TextBoxFor(m => Model.MaterialPlanCancelLineViewModel[i].Qty, new { @class = "form-control CancelQty text-right", @readonly = "true" })
                                                        </div>

                                                    </div>

                                                </div>

                                            </div>

                                        </div>
                                        <hr style='margin-top:0px;margin-bottom:0px' />

                                    }


                                </div>
                            </div>



                            <div class="row grid-head" style="margin-left:0px;margin-right:0px">
                                <div class="block text-left" style="width:5%">

                                </div>
                                <div class="block" style="width:92%">
                                    <div class="row">
                                        <div class="block" style="width:35%">
                                            <strong>Total</strong>
                                        </div>
                                        <div class="block" style="width:25%">
                                        </div>
                                        <div class="block" style="width:10%">
                                        </div>
                                        <div class="text-right block" style="width:15%">
                                            <strong> @BalanceCount</strong>
                                        </div>
                                        @*Amount*@
                                        <div class="block text-right" style="width:15%">
                                            <strong><span id="CancelQty">@BalanceCount</span></strong>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="modal-footer " style="padding: 19px 20px 0 20px; border-top:1px solid #8E8888">
                    <button class="btn custom" name="Command:Edit" type="submit"><h2 style="margin:0px" id="submit" title="Proceed"><span class="glyphicon glyphicon-arrow-right black black"></span> </h2></button>
                </div>
            </div>
        }
    </div>
</div>


<script type="text/javascript">

    var reset = false;

    $('.ToCancel').click(function () {

        var $Hidiv = $(this).closest('div.row.crow');

        var unitDecPlaces = parseFloat($Hidiv.find('.UDec').val()) || 0;

        var $div = $(this).closest('div.row');

        var OrderQty = parseFloat($div.find('#BalanceQty').text()) || 0;

        if ($div.find('input.CancelQty').val() && $div.find('input.CancelQty').val() > 0) {
            $div.find('input.CancelQty').val(0);
        }

        else {
            $div.find('input.CancelQty').val(OrderQty.toFixed(unitDecPlaces));
        }




        CalculateTotal();

    })

    $('#ToCancel').click(function () {
        if (reset) {
            $('div.row.crow', "#gbody-modal.panel-info").each(function (index) {


                var $Hidiv = $(this);

                var unitDecPlaces = parseFloat($Hidiv.find('.UDec').val()) || 0;

                var OrderQty = parseFloat($Hidiv.find('#BalanceQty').text()) || 0;

                $Hidiv.find('input.CancelQty').val(OrderQty.toFixed(unitDecPlaces));


            })
            CalculateTotal();
            reset = false;
        }
        else if (!reset) {
            $('div.row.crow', "#gbody-modal.panel-info").each(function (index) {

                var $Hidiv = $(this);

                $Hidiv.find('input.CancelQty').val(0);

            })
            CalculateTotal();
            reset = true;
        }
    })

    function CalculateTotal() {
        var Cancel = 0;
        var maxDeclaces = 0;
        $('.row.crow.grid-body', '.modal-body').each(function () {

            if ($(this).find('input.CancelQty').val()) {
                Cancel += parseFloat($(this).find('input.CancelQty').val());

                var unitDecPlaces = parseFloat($(this).find('.UDec').val()) || 0;
                if (unitDecPlaces > maxDeclaces)
                    maxDeclaces = unitDecPlaces;
            }

        })
        $('#CancelQty', '.modal-body').text(Cancel.toFixed(maxDeclaces));
    }

    $(document).ready(function () {
        var IsSaved = false;
        var ValidationCount = 0;

        $('#modform').bind('submit', function (event) {

            if (!IsSaved) {
                if (!ValidateData()) {
                    return false;
                }
                IsSaved = true;
                $('button:submit').attr('disabled', 'disabled');
                return IsSaved;
            }
            else {
                return false;
            }


        });

        function ValidateData() {
            var ValidationMessage = "";

            //Client Side Validaion.....

            return (ValidationMessage == "");

        }
    });

</script>