@model Service.StockHeadJobConjumptionViewModel
@using System.Text.RegularExpressions
@{
    ViewBag.Title = "JobConsumptionAdsustment";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style type="text/css">
    .grid {
        width: 1140px;
        height: 60vh;
    }

    .ui-grid-cell {
        border-style: solid;
        border-width: thin;
    }

    .text-right {
        text-align: right;
        /*float: right;*/
    }

    .cell-text {
        font-size: 13px;
        font-weight: normal;
    }

    .header-text {
        font-size: 13px;
    }


    .ui-grid-viewport .ui-grid-cell-contents {
        word-wrap: break-word;
        white-space: normal !important;
    }

    .ui-grid-row, .ui-grid-cell {
        height: auto !important;
    }


        .ui-grid-row div[role=row] {
            display: flex;
            align-content: stretch;
        }

    .ui-grid-header-cell-label {
        display: inline-block;
        white-space: initial;
    }

    .Errormsg {
        color: red;
        text-align: center;
    }

    .cell-text-c {
        background-color: #FFE4C4 !important;
    }
</style>


<!doctype html>
<html ng-app="JobConsumptionAdjustment">
<head>
    <title>
        UI-Grid
    </title>
    <script src="~/Scripts/angular.js"></script>
    <script src="~/Scripts/angular-touch.js"></script>
    <script src="~/Scripts/angular-animate.js"></script>
    <script data-require="angular.js@1.4.x" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.6/angular.min.js" data-semver="1.4.6"></script>
    <script src="http://ui-grid.info/docs/grunt-scripts/csv.js"></script>
    <script src="http://ui-grid.info/docs/grunt-scripts/pdfmake.js"></script>
    <script src="http://ui-grid.info/docs/grunt-scripts/vfs_fonts.js"></script>
    <script src="http://ui-grid.info/release/ui-grid-unstable.js"></script>
    <link rel="stylesheet" href="http://ui-grid.info/release/ui-grid-unstable.css" type="text/css">
    <script src="~/Scripts/JSTable/jspdf.debug.js"></script>
    <script src="~/Scripts/JSTable/faker.min.js"></script>
    <script src="~/Scripts/JSTable/jspdf.plugin.autotable.js"></script>

    <script src="~/Scripts/JSTable/examples.js"></script>

</head>
<body id="MyBody">
    <div ng-controller="MainCtrl" ng-init="Post()">
        <div class="panel panel-default" style="margin-bottom:0px">
            <div class="panel-heading">
                <h4>
                    <span>Stock Balance At Jobworker</span>
                    <input type="submit" id="Fill" value="Save" ng-click="SaveRecord()" class="btn btn-primary btn-sm CurveBorder height" style="float : right ; width:5em; background-color: #2980b9" />
                </h4>
            </div>
            <form action="/" id="registerSubmit">
                <div class="panel-info" style="padding-left:15px">

                    <div class="form-horizontal" role="form" id="ReportFilters">
                        @Html.ValidationSummary(true)
                        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.EntryDate, "Entry Date", new { @class = "control-label col-md-4 col-sm-2" })
                                            <div class="col-xs-6">
                                                @Html.TextBoxFor(m => m.EntryDate, "{0:dd/MMMM/yyyy}", new { @class = "datepicker form-control col-xs-6 " })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.EntryNo, "Entry No", new { @class = "control-label col-md-4 col-sm-2" })
                                            <div class="col-xs-6">
                                                @Html.TextBoxFor(m => m.EntryNo, null, new { @class = "form-control col-xs-6 " })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.JobReceiveHeaderId, "Against Rec.No.", new { @class = "control-label col-md-4 col-sm-2" })
                                            <div class="col-xs-6">
                                                @Html.TextBoxFor(m => m.JobReceiveHeaderId, null, new { @class = "form-control col-xs-6 " })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.Remark, "Remark", new { @class = "control-label col-md-4 col-sm-2" })
                                            <div class="col-xs-6">
                                                @Html.TextBoxFor(m => m.Remark, null, new { @class = "form-control col-xs-6 " })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6" style="display:none;">
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.PersonId, "PersonId", new { @class = "control-label col-md-4 col-sm-2" })
                                            <div class="col-xs-6">
                                                @Html.TextBoxFor(m => m.PersonId, null, new { @class = "form-control col-xs-6 " })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6" style="display:none;">
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.ProcessId, "ProcessId", new { @class = "control-label col-md-4 col-sm-2" })
                                            <div class="col-xs-6">
                                                @Html.TextBoxFor(m => m.ProcessId, null, new { @class = "form-control col-xs-6 " })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6" style="display:none;">
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.DocTypeId, "DocTypeId", new { @class = "control-label col-md-4 col-sm-2" })
                                            <div class="col-xs-6">
                                                @Html.TextBoxFor(m => m.DocTypeId, null, new { @class = "form-control col-xs-6 " })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <span style="font-family: Calibri,sans-serif,Verdana;font-size:large">
                                </span>
                            </div>
                        </div>
                    </div>

                </div>
                <div id="tableDiv"></div>
            </form>
        </div>
        <div>
           
        </div>
       <div ui-grid="gridOptions" ui-grid-edit ui-grid-exporter ui-grid-cellnav ui-grid-resize-columns ui-grid-move-columns ui-grid-validate class="grid" style="margin-top:0px"></div>
    </div>
    <script src="~/Scripts/JobConsumption/JobConsumptionAdjustment.js"></script>
    <script src="~/Scripts/ui-grid.js"></script>
    <link href="~/Content/ui-grid.css" rel="stylesheet" />
</body>
</html>


<script type="text/javascript">
    CustomSelectFunction($("#PersonId"), '/ComboHelpList/GetPerson', '/ComboHelpList/SetSinglePerson', ' ', false, 0);
    CustomSelectFunction($("#ProcessId"), '/ComboHelpList/GetProcess', '/ComboHelpList/SetSingleProcess', ' ', false, 0);
    CustomSelectFunction($("#JobReceiveHeaderId"), '/JobConsumptionAdsustment/GetReceiveNo', '/JobConsumptionAdsustment/SetSingleReceiveNo', ' ', false, 0);

    $('#ShowFilters').click(function () {
        $('#ReportFilters').slideToggle();
    });
    $(function () {

        $('[data-toggle="tooltip"]').tooltip({
        });
        function SetDate(url, elem) {
            $.get(url, function (data) {
                $(elem).datepicker('update', data);
            })
        }
    });
    $('.collapse').on('hidden.bs.collapse', toggleSign);
    $('.collapse').on('shown.bs.collapse', toggleSign);
    function toggleSign(e) {
        $(e.target).prev('.panel-heading').find('span.collapse_Ico').toggleClass("glyphicon-plus-sign glyphicon-minus-sign")
    }
    $(document).on("mouseover", ".select2-container", function () {
        $(".select2-container").tooltip({
            title: function () {
                return $(this).next('input').attr("title");
            },
        });
    })
</script>
