@model IQueryable<Model.Models.ProductGroup>
@using GridMvc.Html; 

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!-- modal placeholder-->
<div id='myModal' class='modal fade in'>
    <div class="modal-dialog">
        <div class="modal-content">
            <div id='myModalContent'></div>
        </div>
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-heading">
        <h3>
            <span style="font-family: Calibri,sans-serif,Verdana;font-weight:bold" class="black"><span class="glyphicon glyphicon-list black"></span> @ViewBag.Name List</span>
        </h3>
        <hr style="margin-top:0px;margin-bottom:0px" />

        <div class="panel-info">
            @*<h4 style="padding:5px 0 0 0;margin:0px">
                @Html.ActionLink(" ", " ", " ", null, new { @class = "glyphicon glyphicon-refresh toolbar", @title = "Refresh Page", @data_toggle = "tooltip", @id = "RefreshPage" })
                @Html.ActionLink(" ", "Create", "ProductGroup", new { id = @ViewBag.id }, new { @class = "glyphicon glyphicon-plus toolbar", @title = "Add New", @data_toggle = "tooltip" })
                @Html.ActionLink(" ", "Print", "ProductGroup", null, new { @class = "glyphicon glyphicon-print toolbar", @title = "Print", @data_toggle = "tooltip" })
                @Html.ActionLink(" ", "Delete", "ProductGroup", null, new { @class = "glyphicon glyphicon-trash toolbar", @title = "Delete", @data_toggle = "tooltip", @id = "DeleteRecord" , @data_modal="" })
                @Html.ActionLink(" ", "Report", "ProductGroup", null, new { @class = "glyphicon glyphicon-stats toolbar right", @title = "Report", @data_toggle = "tooltip", target = "_blank" })
                @Html.ActionLink(" ", "ProductTypeIndex", "ProductGroup", null, new { @class = "glyphicon glyphicon-list toolbar right", @title = "List", @data_toggle = "tooltip" })                
                @Html.ActionLink(" ", "Index", "ProductGroupProcessSettings", null, new { @class = "glyphicon glyphicon-cog toolbar right", @title = "Default Settings", @data_toggle = "tooltip", @id = "Settings", target = "_blank" })
                @Html.ActionLink(" ", "", "", null, new { @class = "glyphicon glyphicon-export toolbar right", @title = "Export", @data_toggle = "tooltip" })
            </h4>*@
            <div class="btn-group">
                @Html.ActionLink(" ", "Create", "ProductGroup", new { id = @ViewBag.id }, new { @class = "cbtn btn-circle glyphicon glyphicon-plus toolbar", @title = "Add New", @data_toggle = "tooltip" })
                @Html.ActionLink(" ", "Print", "ProductGroup", null, new { @class = "cbtn btn-circle glyphicon glyphicon-print toolbar", @title = "Print", @data_toggle = "tooltip" })
                @Html.ActionLink(" ", "Delete", "ProductGroup", null, new { @class = "cbtn btn-circle glyphicon glyphicon-trash toolbar", @title = "Delete", @data_toggle = "tooltip", @id = "DeleteRecord", @data_modalDelete = "" })
            </div>
            <div class="btn-group">
                <a class="cbtn btn-circle glyphicon glyphicon-option-horizontal dropdown-toggle" aria-expanded="false" style="padding-top: 6px;padding-bottom: 6px;" href="#" data-toggle="dropdown" id="dropdownMenu1">
                </a>
                <ul class="dropdown-menu pull-right" aria-labelledby="dropdownMenu1">
                    <li><a href="@Url.Action("Index", "ProductGroupProcessSettings")"><span class="glyphicon glyphicon-cog"> </span>&nbsp;&nbsp;Settings</a></li>
                    <li><a href="@Url.Action("ProductTypeIndex", "ProductGroup")"><span class="glyphicon glyphicon-list"> </span>&nbsp;&nbsp;List</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="@Url.Action("Report", "ProductGroup")"><span class="glyphicon glyphicon-stats"> </span>&nbsp;&nbsp;Report</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="panel-info" style="padding-left:5px;padding-top:2px">
        @Html.Grid(Model).Columns(columns =>
   {
       columns.Add(foo => foo.ProductGroupId, true);
       columns.Add(foo => foo.ProductGroupName).Sortable(true).Titled("Name").Filterable(true).Css("modal-link");
       columns.Add(m => m.IsSystemDefine).Sortable(true).Titled("System Defined");
       columns.Add(m => m.IsActive).Sortable(true).Titled("Is Active").Filterable(true);
       columns.Add(true).RenderValueAs(m => "<a href='/ProductGroup/Edit/" + m.ProductGroupId + "' hidden class='RecEditurl'></a><a href='/ProductGroup/Delete/" + m.ProductGroupId + "' hidden class='RecDelurl'></a>");
   }).WithPaging(25).EmptyText("No records found.")
    </div>
</div>

<script type="text/javascript">

    $('table.grid-table td').dblclick(function () {
        var $this = $(this);
        var row = $this.closest("tr");
        var editid = row.find('[data-name="ProductGroupId"]').text();
        var url = '@Url.Action("Edit", "ProductGroup")' + "/" + editid;
        window.location.href = url;

    });

    //$('a#DeleteRecord').click(function (e) {
       
    //    var tes = DeleteValidation();
    //    if (!tes) {
    //        e.stopImmediatePropagation();
    //        return false;
    //    }
    //    var editiiid = $('table.grid-table .grid-row.grid-row-selected').find('[data-name="ProductGroupId"]').text();


    //    var url = '/ProductGroup/Delete/' + editiiid;
    //    $(this).attr('href', url);
    //    return;
    //})
    //$('#myModal').on('shown.bs.modal', function () {
    //    $("#Reason").focus();
    //});

    $('a#Settings').click(function (e) {
        var $this = $(this);
        var row = $this.closest("tr");
        var editid = $('table.grid-table .grid-row.grid-row-selected').find('[data-name="ProductGroupId"]').text();

        if (editid == 0 || editid == null)
            return false;
        var url = '@Url.Action("Create", "ProductGroupProcessSettings")' + "/" + editid;
        $(this).attr('href', url);
        return;
    })
</script>