@model Models.Customize.ViewModels.SubRecipeViewModel
@using ProjLib.Constants
@using Components.Logging

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- modal placeholder-->
<div id='myModal' class='modal fade in'>
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div id='myModalContent'></div>
        </div>
    </div>
</div>



@using (Html.BeginForm("Post", "SubRecipe", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => m.BalanceQty)


    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 style="border-bottom:0px solid #e1dada;padding-bottom:0px;">
                <span style="font-family: Calibri,sans-serif,Verdana;font-weight:bold" class="black"> <span class="glyphicon glyphicon-file black"></span> Sub Recipe</span>
                <input type="submit" value="Save" class="btn btn-primary right" id="submit" style="width: 90px; background-color: #2980b9" />
            </h3>

            <hr style="margin-top:0px;margin-bottom:0px" />

            <div class="panel-info">
                <h4 style="padding:5px 0 0 0;margin:0px">
                    @Html.ActionLink(" ", " ", " ", null, new { @class = "glyphicon glyphicon-refresh toolbar", @title = "Refresh Page", @data_toggle = "tooltip", @id = "RefreshPage" })
                    @Html.ActionLink(" ", "Create", "Dyeing", new { @id = ViewBag.id }, new { @class = "glyphicon glyphicon-plus toolbar", @title = "Add New", @data_toggle = "tooltip", target = "_blank" })
                    @Html.ActionLink(" ", "Email", "Dyeing", null, new { @class = "glyphicon glyphicon-envelope toolbar", @title = "Email", @data_toggle = "tooltip" })
                    @Html.ActionLink(" ", "Report", "Dyeing", null, new { @class = "glyphicon glyphicon-th toolbar right", @title = "Report", @data_toggle = "tooltip" })
                </h4>
            </div>
        </div>

        <div class="panel-info" style="padding-left:15px">

            <div class="form-horizontal">

                @Html.ValidationSummary(true)
                <div class="row">
                    <h4 class="col-md-12 black">
                        <span class="glyphicon glyphicon-align-justify"></span>
                        Recipe Details
                    </h4>
                    <div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group" style="margin-top:15px">
                                    @Html.LabelFor(model => model.JobOrderHeaderId, "Recipe No", new { @class = "control-label col-xs-4" })
                                    <div class="col-xs-6">
                                        @Html.TextBoxFor(m => m.JobOrderHeaderId, new { @class = "form-control col-xs-6 required" })
                                        @Html.ValidationMessageFor(model => model.JobOrderHeaderId, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group" style="margin-top:15px">
                                    @Html.LabelFor(model => model.Qty, "Qty", new { @class = "control-label col-xs-4" })
                                    <div class="col-xs-6">
                                        @Html.TextBoxFor(m => m.Qty, new { @class = "form-control col-xs-6 required" })
                                        @Html.ValidationMessageFor(m => m.Qty, "", new { @class = "text-danger" })
                                        <span id="QtyValidation"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}





<script type="text/javascript">


    $(document).ready(function () {
        CustomSelectFunction($("#JobOrderHeaderId"), '/SubRecipe/GetRecipeList', '/ComboHelpList/SetSingleJobOrder', ' ', false, 0, $('#JobOrderHeaderId').val());

        $("#JobOrderHeaderId").select2('focus');
    });


    $("#JobOrderHeaderId").change(function(){
        Validate_JobOrderHeader();
    });


    function Validate_JobOrderHeader() {
        var ProcessProgress = $("#Prod Order detail loading progress");
        ProcessProgress.show();
        if ($("#JobOrderHeaderId").val() != "")
        {
            $.ajax({
                cache: false,
                type: "POST",
                url: "@(Url.Action("GetRecipeDetailJson"))",
                data: { JobOrderHeaderId: $("#JobOrderHeaderId").val() },
                success: function (data) {
                    if (data != null)
                    {
                        $("#Qty").val(data);
                        $("#BalanceQty").val(data);
                    }
                    else{
                        $("#Qty").val(0);
                        $("#BalanceQty").val(0);
                    }
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    alert('Failed to retrieve Prod Order details.' + thrownError);
                    ProcessProgress.hide();
                }
            });
        }
        else {
            $("#Qty").val(0);
            $("#BalanceQty").val(0);
        }
    }


    $('#Qty').keyup(function () {
        ValidateData();
    });


    function ValidateData() {

        var ValidationMessage = "";


        //Check that Qty can not exceed Order Balance Qty.
        if (($('#BalanceQty').val() - $('#Qty').val()) < 0) {

            ValidationMessage = "Qty exceeding Recipe Balance Qty";

        }


        if (!ValidationMessage == "") {
            $('#submit').attr('disabled', 'disabled');
            $('#QtyValidation').text(ValidationMessage);
        }
        else {
            $('#submit').removeAttr('disabled');
            $('#QtyValidation').text("");
        }

        return (ValidationMessage == "");
    }


</script>


