@model IEnumerable<Model.Models.Gate>
@using GridMvc.Html;
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!-- modal placeholder-->
<div id='myModal' class='modal fade in'>
    <div class="modal-dialog">
        <div class="modal-content">
            <div id='myModalContent'></div>
        </div>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
        <h3>
            <span style="font-family: Calibri,sans-serif,Verdana;font-weight:bold" class="black"><span class="glyphicon glyphicon-list black"></span> Gate List</span>
        </h3>
        <div class="panel-info">
            <div class="btn-group">
                @Html.ActionLink(" ", "Create", "Gate", null, new { @class = "cbtn btn-circle glyphicon glyphicon-plus toolbar", @title = "Add New", @data_toggle = "tooltip" })
                @Html.ActionLink(" ", "Print", "Gate", null, new { @class = "cbtn btn-circle glyphicon glyphicon-print toolbar", @title = "Print", @data_toggle = "tooltip" })
                @Html.ActionLink(" ", "Delete", "Gate", null, new { @class = "cbtn btn-circle glyphicon glyphicon-trash toolbar", @title = "Delete", @data_toggle = "tooltip", @id = "DeleteRecord", @data_modal = "" })
                </div>
            <div class="btn-group">
                <a class="cbtn btn-circle glyphicon glyphicon-option-horizontal dropdown-toggle" aria-expanded="false" style="padding-top: 6px;padding-bottom: 6px;" href="#" data-toggle="dropdown" id="dropdownMenu1">
                </a>
                <ul class="dropdown-menu pull-right" aria-labelledby="dropdownMenu1">
                    <li><a href="@Url.Action("Report", "Gate", new { @ViewBag.id })"><span class="glyphicon glyphicon-stats"> </span>&nbsp;&nbsp;Report</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="panel-info" style="padding-left:5px;padding-top:2px">
        @Html.Grid(Model).Columns(columns =>
           {
               columns.Add(foo => foo.GateId, true);
               columns.Add(foo => foo.GateName).Sortable(true).Titled("Name").Filterable(true);
               columns.Add(m => m.IsActive).Sortable(true).Titled("Is Active").Filterable(true);           
           }).WithPaging(25).EmptyText("No records found.")
    </div>
</div>
<script type="text/javascript">

    $('table.grid-table td').dblclick(function () {
        var $this = $(this);
        var row = $this.closest("tr");
        var editid = row.find('[data-name="GateId"]').text();
        var url = '@Url.Action("Edit", "Gate")' + "/" + editid;
        window.location.href = url;

    });

    $('a#DeleteRecord').click(function (e) {
       
        var tes = DeleteValidation();
        if (!tes) {
            e.stopImmediatePropagation();
            return false;
        }
        var editiiid = $('table.grid-table .grid-row.grid-row-selected').find('[data-name="GateId"]').text();


        var url = '/Gate/Delete/' + editiiid;
        $(this).attr('href', url);
        return;
    })
    $('#myModal').on('shown.bs.modal', function () {
        $("#Reason").focus();
    });

</script>