@model Models.Customize.ViewModels.JobOrderLineFilterViewModel

<div class="modal-content">
    <div class="modal-header" style="border-bottom: 1px solid #8E8888">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"> <span class="glyphicon glyphicon-remove"></span></button>
        <h3>
            <span style="font-family: Calibri,sans-serif,Verdana;font-weight:bold" class="black"><span class="glyphicon glyphicon-file black"></span> For Production Order</span>
        </h3>
    </div>
    <div>
        @using (Html.BeginForm("_FilterPost", "JobOrderLine", FormMethod.Post, new { enctype = "multipart/form-data", id = "modform" }))
        {


            <div class="form-horizontal modal-body">

                @Html.AntiForgeryToken()
                @Html.HiddenFor(m => m.JobWorkerId)
                @Html.HiddenFor(model => model.JobOrderHeaderId)
                @Html.HiddenFor(m=>m.JobOrderSettings.isVisibleRate)
                @Html.HiddenFor(m => m.JobOrderSettings.isMandatoryRate)
                @Html.HiddenFor(m => m.JobOrderSettings.isEditableRate)
                @Html.HiddenFor(m => m.JobOrderSettings.ProcessId)

                @Html.ValidationSummary(true, null, new { @class = "alert alert-danger" })

               
                <div class="row">
                    <h4 class="col-md-12 black">
                        <span class="glyphicon glyphicon-align-justify"></span>
                        1.Filters
                    </h4>
                    <div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.ProdOrderHeaderId, "Prod Order", new { @class = "control-label col-xs-4" })
                                    <div class="col-xs-7">
                                        @Html.TextBoxFor(model => model.ProdOrderHeaderId, new { @class = "form-control col-xs-7 required" })
                                        @Html.ValidationMessageFor(model => model.ProdOrderHeaderId, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>

                         

                            <div class="col-md-6">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.ProductId, "Product ", new { @class = "control-label col-xs-4 " })
                                    <div class="col-xs-7">
                                        @Html.TextBoxFor(model => model.ProductId, new { @class = "form-control col-xs-7 required" })
                                        @Html.ValidationMessageFor(model => model.ProductId, "", new { @class = "text-danger" })
                                        <span id="status" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>

                        



                            <div class="col-md-6">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.ProductGroupId, "Product Group", new { @class = "control-label col-xs-4" })
                                    <div class="col-xs-7">
                                        @Html.TextBoxFor(model => model.ProductGroupId, new { @class = "form-control col-xs-7 required" })
                                        @Html.ValidationMessageFor(model => model.ProductGroupId, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.Dimension1Id, "Dimension1", new { @class = "control-label col-xs-4 " })
                                    <div class="col-xs-7">
                                        @Html.TextBoxFor(model => model.Dimension1Id, new { @class = "form-control col-xs-7 required" })
                                        @Html.ValidationMessageFor(model => model.Dimension1Id, "", new { @class = "text-danger" })
                                        <span id="status" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.Dimension2Id, "Dimension2", new { @class = "control-label col-xs-4" })
                                    <div class="col-xs-7">
                                        @Html.TextBoxFor(model => model.Dimension2Id, new { @class = "form-control col-xs-7 required" })
                                        @Html.ValidationMessageFor(model => model.Dimension2Id, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <hr style="margin-bottom:0px" />
                <div class="row">
                    <h4 class="col-md-12 black">
                        <span class="glyphicon glyphicon-align-justify"></span>
                        2.Default Values
                    </h4>
                    <div>
                        <div class="row">

                            <div class="col-md-6">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.DealUnitId, "Deal Unit", new { @class = "control-label col-xs-4" })
                                    <div class="col-xs-7">
                                        @Html.DropDownListFor(model => model.DealUnitId, new SelectList(ViewBag.DeliveryUnitList as System.Collections.IEnumerable, "UnitId", "UnitName"), string.Empty, new { @class = "form-control height cusrightnormal required" })
                                        @Html.ValidationMessageFor(model => model.DealUnitId, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                           
                            <div class="col-md-6" style="display:@((Model.JobOrderSettings.isVisibleRate)?"":"none")">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.Rate, "Rate", new { @class = "control-label col-xs-4" })
                                    <div class="col-xs-7">
                                        @Html.TextBoxFor(model => model.Rate, new { @class = "form-control col-xs-7 required" })
                                        @Html.ValidationMessageFor(model => model.Rate, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                           


                        </div>
                    </div>
                </div>
                <hr style="margin-bottom:0px" />

















                <div class="modal-footer " style="padding: 19px 20px 0 20px; border-top:1px solid #8E8888">
                    <button class="btn custom" name="Command:Edit" type="submit"><h2 style="margin:0px" id="submit" title="Proceed"><span class="glyphicon glyphicon-arrow-right black"></span> </h2></button>
                </div>

            </div>

        }
    </div>
</div>


<script type="text/javascript">


    var DocID = $('#JobOrderHeaderId', '.modal-body').val();
    var URL = '/JobOrderLine/GetPendingProdOrdersHelpList/' + DocID;

    $(document).ready(function () {

        //CustomSelectFunction($("#ProductId"), '/ComboHelpList/GetProducts', '/ComboHelpList/SetProducts', 'Enter Product Name', true, 3);
        //CustomSelectFunction($("#PurchaseIndentHeaderId"), '/ComboHelpList/GetPurchaseIndents', '/ComboHelpList/SetPurchaseIndents', 'Enter Indent Name', true, 1);
        CustomSelectFunction($("#Dimension1Id"), '/ComboHelpList/GetDimension1', '/ComboHelpList/SetSingleDimension1', 'Dimension1', true, 1);
        CustomSelectFunction($("#Dimension2Id"), '/ComboHelpList/GetDimension2', '/ComboHelpList/SetSingleDimension2', 'Dimension2', true, 1);
        CustomSelectFunction($("#ProductGroupId"), '/ComboHelpList/GetProductGroup', '/ComboHelpList/SetProductGroup', 'Enter Group Name', true, 1);
        CustomSelectFunction($("#ProdOrderHeaderId"), '/JobOrderLine/GetPendingProdOrdersHelpList', '/ComboHelpList/SetProdOrders', 'Enter Group Name', true, 1,DocID);
    });  
   


    var URL = '/ComboHelpList/GetCustomProducts/';
    $("#ProductId").select2({
        minimumInputLength: 1,
        multiple: true,
        ajax: {
            url: URL,
            dataType: 'json',
            type: "GET",
            quietMillis: 1000,
            data: function (term) {
                return {
                    term: term,
                };
            },
            results: function (data) {
                return {
                    results: $.map(data, function (item) {
                        return {
                            text: item.PropFirst,
                            id: item.Id
                        }
                    })

                };
            }
        },
        initSelection: function (element, callback) {

            var xval = element.val();
            if (xval != 0) {
                $.ajax({
                    cache: false,
                    type: "POST",
                    url: '/ComboHelpList/SetProducts',
                    data: { Ids: element.val() },
                    success: function (data) {
                        callback(data);
                    },
                    error: function (xhr, ajaxOptions, thrownError) {
                        alert('Failed to Retrive Qty' + thrownError);
                    }
                })
            }
            //callback([{ id: "1", text: "arpit" }, { id: "2", text: "akash" }]);
        }


    });



</script>