@model Model.ViewModels.Dimension4ViewModel

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("Post", "Dimension4", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.Dimension4Id)
    @Html.HiddenFor(m=>m.ProductTypeId)
    <div class="panel panel-default">

        <div class="panel-heading">

            <h3>
                <span style="font-family: Calibri,sans-serif,Verdana;font-weight:bold" class="black"><span class="glyphicon glyphicon-file black"></span> @ViewBag.Name-@Model.ProductTypeSettings.Dimension4Caption</span>
                <input type="submit" value="Save" class="btn btn-primary right" id="submit" style="width: 90px; background-color: #2980b9" />
            </h3>
            <hr style="margin-top:0px;margin-bottom:0px" />

            <div class="panel-info">
                @*<h4 style="padding:5px 0 0 0;margin:0px">
                    @Html.ActionLink(" ", " ", " ", null, new { @class = "glyphicon glyphicon-refresh toolbar", @title = "Refresh Page", @data_toggle = "tooltip", @id = "RefreshPage" })
                    @Html.ActionLink(" ", "Create", "Dimension4", new { id=@ViewBag.id}, new { @class = "glyphicon glyphicon-plus toolbar", @title = "Add New", @data_toggle = "tooltip" })
                    @Html.ActionLink(" ", "History", "Dimension4", null, new { @class = "glyphicon glyphicon-user toolbar", @title = "History", @data_toggle = "tooltip" })
                    @Html.ActionLink(" ", "PrevPage", "Dimension4", new { id = @Model.Dimension4Id,ptypeid=@ViewBag.id }, new { @class = "glyphicon glyphicon-arrow-left toolbar", @title = "Prev Record", @data_toggle = "tooltip" })
                    @Html.ActionLink(" ", "NextPage", "Dimension4", new { id = @Model.Dimension4Id, ptypeid = @ViewBag.id }, new { @class = "glyphicon glyphicon-arrow-right toolbar", @title = "Next Record", @data_toggle = "tooltip" })
                    @Html.ActionLink(" ", "Index", "Dimension4", new { id=@ViewBag.id}, new { @class = "glyphicon glyphicon-list toolbar right", @title = "List", @data_toggle = "tooltip" })
                </h4>*@
                <div class="btn-group">
                    @Html.ActionLink(" ", "Create", "Dimension4", new { id = @ViewBag.id }, new { @class = "cbtn btn-circle glyphicon glyphicon-plus toolbar", @title = "Add New", @data_toggle = "tooltip" })
                    @Html.ActionLink(" ", "History", "Dimension4", null, new { @class = "cbtn btn-circle glyphicon glyphicon-user toolbar", @title = "History", @data_toggle = "tooltip" })
                    @Html.ActionLink(" ", "PrevPage", "Dimension4", new { id = @Model.Dimension4Id, ptypeid = @ViewBag.id }, new { @class = "cbtn btn-circle glyphicon glyphicon-arrow-left toolbar", @title = "Prev Record", @data_toggle = "tooltip" })
                    @Html.ActionLink(" ", "NextPage", "Dimension4", new { id = @Model.Dimension4Id, ptypeid = @ViewBag.id }, new { @class = "cbtn btn-circle glyphicon glyphicon-arrow-right toolbar", @title = "Next Record", @data_toggle = "tooltip" })
                    @Html.ActionLink(" ", "Index", "Dimension4", new { id = @ViewBag.id }, new { @class = "cbtn btn-circle glyphicon glyphicon-list", @title = "List", @data_toggle = "tooltip" })
                </div>
            </div>

        </div>
        <div class="panel-info" style="padding-left:15px">

            <div class="form-horizontal">                

                <div>
                    <h4 class="col-md-12 black" style="margin-top:15px">
                        <span class="glyphicon glyphicon-align-justify"></span>
                        @(Model.ProductTypeSettings.Dimension4Caption ?? "Dimension4") Details
                    </h4> 
                    <div class="col-md-6">
                        <div class="form-group" style="margin-top:15px">
                            @Html.LabelFor(model => model.Dimension4Name, "Name", new { @class = "control-label col-md-4 col-sm-2" })
                            @Html.HiddenFor(m => m.ProductTypeSettings.Dimension4Caption)
                            <div class="col-md-7 col-sm-10">
                                @Html.TextBoxFor(m => m.Dimension4Name, null, new { @class = "form-control col-xs-6 required" })
                                @Html.ValidationMessageFor(m => m.Dimension4Name, null, new { @class = "has-error" })
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group" style="margin-top:15px">
                            @Html.LabelFor(model => model.Description, "Description", new { @class = "control-label col-md-4 col-sm-2" })
                            <div class="col-md-7 col-sm-10">
                                @Html.TextBoxFor(m => m.Description, null, new { @class = "form-control col-xs-6 required" })
                                @Html.ValidationMessageFor(m => m.Description, null, new { @class = "has-error" })
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="col-md-6">
                        <div class="form-group" >
                            @Html.LabelFor(model => model.IsActive, "Is Active", new { @class = "control-label col-md-4 col-sm-2" })
                            <div class="col-md-7 col-sm-10" style=" padding-top:4px">
                                @Html.CheckBoxFor(m => m.IsActive, new { @class = "checkbox col-xs-1" })
                                @Html.ValidationMessageFor(model => model.IsActive)
                            </div>
                        </div>
                    </div> 
                </div>
                @*<hr />
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Create" class="btn btn-primary btn-sm CurveBorder height" style=" border-color: #606264" />
                    </div>
                </div>*@
                <div class="row"></div>
            </div>
        </div>
    </div>

}

<script type="text/javascript">
    $(function()
    {
        var TitleCase= '@Session["TitleCase"]';
        //alert(TitleCase);
        $('#Dimension4Name').focusout(function () {
            if (TitleCase=="UpperCase")
            this.value = this.value.toUpperCase() ;
    });
    });

    $(":submit").on("click", function () {
        var mpoid=@Model.Dimension4Id;
        var tes;
        if(mpoid<=0)
        {
            tes= $('#Dimension4Name').DuplicateCheckForCreate({ name: 'Dimension4', value: $('#Dimension4Name').val(), doctype: 0 });
        }
        else
        {
            tes = $('#Dimension4Name').DuplicateCheckForEdit({ name: 'Dimension4', value: $('#Dimension4Name').val(), doctype: 0,headerId:mpoid });
        }
        if (tes) {
            return false;
        }
        else
        {
            return;
        }
    });
</script>